{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_search} %}

<div class="consultation">
    <div class="row">
        <div class="col xs-10 xs-l-1">
            <div class="consultation__content">
                <div class="consultation__text" style="    text-align: justify;">
                    <span>
                        При получении лицензий ФСБ и ФСТЭК соискатели часто сталкиваются с проблемой отсутствия квалифицированного персонала, необходимого для осуществления лицензируемой деятельности.
                    </span>
                    <span>
                        Для решения такого рода задач, HR-специалисты компании «ПрофЛайнКонсалтинг» предложат вам свои услуги по подбору и предоставлению необходимых сотрудников, в штат, на основное место работы, удовлетворяющего требованиям регуляторов, в установленные договором сроки.
                    </span>
                    <span>
                        Поиск кандидатов осуществляется по всей территории Российской Федерации. Доверив эту задачу «ПрофЛайнКонсалтинг», Вы избавляете себя от потери времени и всевозможных рисков, связанных с пониманием и выполнением лицензионных требований.
                    </span>
                    <span> 
                        Обратитесь к нам, и мы легко и просто, подберём для вас квалифицированный персонал, для решения вопроса по получению необходимой вам лицензии.
                    </span>
                </div>
            </div>
        </div>    
    </div>
</div>        

{% include "components/services/feedback.twig" with {"__scope":feedback_two} %}
{% include "components/base/center.twig" with {"__scope":center} %}
{% include "components/base/footer.twig" with {"__scope":footer} %}