@mixin caption($size: false, $color: $white, $var: false) {
    font-weight: bold;
    color: $color;
   
    @if $size == "sm" {
        font-size: 14px;
        line-height: 14px;
    } @else if $size == "lg" {
        font-size: 20px;
        line-height: 20px;
    } @else {
        font-size: 16px;
        line-height: 16px;
    }

    @if $var == "upp" {
        text-transform: uppercase;
    }
}
