@mixin text($size: false, $color: $black) {
    color: $color;
   
    @if $size == "xs" {
        font-size: 12px;
        line-height: 18px;
    } @else if $size == "sm" {
        font-size: 14px;
        line-height: 21px;
    } @else if $size == "lg" {
        font-size: 20px;
        line-height: 30px;
    } @else {
        font-size: 16px;
        line-height: 24px;
    }
}
