@mixin title($size: false, $color: $black, $var: false, $weight: false) {
    color: $color;
   
    @if $size == "xs" {
        font-size: 16px;
        line-height: 16px;
    } @else if $size == "sm" {
        font-size: 18px;
        line-height: 18px;
    } @else if $size == "md" {
        font-size: 22px;
        line-height: 22px;
    } @else if $size == "lg" {
        font-size: 26px;
        line-height: 26px;
    } @else if $size == "hg" {
        font-size: 30px;
        line-height: 30px;
    } @else if $size == "x-hg" {
        font-size: 36px;
        line-height: 36px;
    } @else {
        font-size: 50px;
        line-height: 50px;
    }

    @if $var == "upp" {
        text-transform: uppercase;
    }

    @if $weight == "weight" {
        font-weight: 300;
    } @else {
        font-weight: bold;
    }
}
