{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_radiation} %}
{% include "modules/description.twig" with {"__scope":description_radiation} %}
{% include "components/services/criterion.twig" with {"__scope":criterion_radiation} %}
{% include "components/fsb-gos/consultation.twig" with {"__scope":consultation_radiation} %}
{% include "components/radiation/cost-radiation_new.twig" with {"__scope":cost_radiation} %}
<div style="margin-top: 120px;">
    {% include "components/zakon-baza.twig" %}
</div>
<!--div style="margin-top: 120px;">
    {% include "components/fsb-gos/info.twig" with {"__scope":info_radiation} %}
</div-->
<div style="margin-top: 120px;">
    {% include "components/radiation/obuchenie_radiation.twig" %}
</div>
{% include "components/services/explanation.twig" with {"__scope":explanation_radiation} %}
{% include "components/services/feedback.twig" with {"__scope":feedback_two} %}

<div style="margin-top: 120px; margin-bottom: 140px;">
{% include "components/radiation__chto-wi-poluchaete.twig" %}
</div>

{% include "components/base/footer.twig" with {"__scope":footer} %}
