.accreditation {
    // background: url(../images/5x@training-specialists.png);

    &__wrapper {
        background: rgba(0, 44, 74, 0.6);

    }

    &__content {
        padding: 70px 0;
    }

    &__title {
        @include title(x-hg, $white, upp);
        border-left: 6px solid $energized;
        padding-left: 20px;
    }

    &__text {
        @include text($size, $white);
        display: flex;
        flex-direction: column;
        padding: 20px 0 30px;
    }

    &__text span {
        padding: 10px 0;
    }

    // &__btn {}

    &__content-items {
        padding: 70px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        align-items: center;
    }

    // &__icon {}

    &__caption {
        @include caption(lg, $white);
        padding-left: 20px;
    }
}
