.amenities {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 6px solid $energized;
        padding: 50px 50px 40px;
    }

    &__title {
        @include title(x-hg, $black);
        padding-bottom: 20px;
        text-align: center;
    }

    &__text {
        @include text($size, $black);
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    &__text>span {
        padding: 10px 0;
    }
}