.center {
    margin: 80px 0;
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__title {
        @include title(x-hg, $black, upp);
        border-left: 6px solid $energized;
        padding-left: 20px;
        margin-bottom: 40px;
    }

    &__text {
        @include text($size, $black);
        line-height: 24px;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    &__text span {
        padding: 10px 0;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
    }

    &__icon {
        max-height: 50px;
    }

    // &__img-par {}

    &__buttons {
        display: flex;
    }

    // &__btn {}

    &__btn-sol {
        margin-left: 40px;
    }

    &__img-container {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        margin-left: 50px;
    }

    // &__img-com {}
}