.certificates {
    &__content {
        padding: 40px;
    }

    &__title {
        @include title(x-hg, $black, upp);
        border-left: 6px solid $energized;
        padding-left: 20px;
    }

    &__description {
        @include text($size, $black);
        display: flex;
        flex-direction: column;
        padding: 20px 0 10px;
    }

    &__description span {
        padding: 10px 0;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }

    // &__link {}

    &__btn-sol {
        @include caption(sm, $black);
    }

    &__container {
        background: url(../images/5x@background-print.png);
    }

    &__container-wrapper {
        background: rgba(0, 44, 74, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0 160px 0 80px;
    }

    &__caption {
        @include title(x-hg, $white);
        border-bottom: 3px solid $energized;
        padding-bottom: 20px;
    }

    &__text {
        @include text($size, $white);
        padding: 60px 0;
    }
    
    //&__btn-wrapper {}
    //&__btn {}
}
