.consultation-bor {
    margin: 20px 0 120px;
    
    // &__content {}

    &__title {
        @include title(x-hg, $black);
    }

    &__text {
        display: flex;
        flex-direction: column;
        @include text($size, $black);
        margin-top: 40px;
    }

    & span + span {
        margin-top: 20px;
    }

    &__form-wrapper {
        border: 6px solid $energized;
        padding: 50px 60px;
    }
    
    &__title-form {
        @include title(x-hg, $black, upp);
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px dashed $black;
    }

    // &__form {}

    &__btn-wrapper {
        margin-top: 30px;
    }

    &__btn {
        width: 100%;
    }

    &__description-form {
        padding-top: 30px;
        font-size: 12px;
        line-height: 12px;
        color: $gray_dark;
    }
}
