.cost-sro {
    // &__container {}

    &__title {
        @include title(x-hg, $black, upp);
        border-bottom: 1px dashed #dfdfdf;
        margin: 30px 160px;
        padding-bottom: 30px;
    }
    
    &__table {
        border: 6px solid rgba(223, 223, 223, 0.3);
        padding: 50px;
    }

    &__caption {
        display: flex;
        @include caption(lg, $black);
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed rgba(223, 223, 223, 0.3);

        &-col {
            min-width: 300px;
        }
    }

    &__caption-name {
        min-width: 660px;
    }

    &__caption-cost {
        min-width: 270px;
    }

    &__text {
        display: flex;
        @include text(lg, $black);

        &-col {
            min-width: 300px;
        }
    }

    &__text + &__text {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px dashed rgba(223, 223, 223, 0.3);
    }

    &__text-name {
        min-width: 660px;
    }

    &__text-cost {
        min-width: 270px;
    }

    &__description {
        @include text($size, $black);
        padding: 0 90px 30px;
    }

    &__reminder {
        @include caption(sm, $black, upp);
        padding: 20px 90px 30px;
    }

    // &__btn-wrapper {}
    // &__btn {}
}
