.cost-tender {
    &__container {
        width: 100%;
    }

    &__title {
        @include title(x-hg, $black, upp);
    }

    &__buttons-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 40px 250px;
        border-top: 1px dashed $gray_light;
        padding-top: 40px;
    }

    // &__buton {}

    &__table {
        border: 6px solid rgba(223, 223, 223, 0.3);
        padding: 50px;
        margin: 0 50px 40px;
    }

    &__table-captions {
        display: flex;
        border-bottom: 1px dashed $gray_light;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    &__caption {
        @include caption(lg, $black);
        min-width: 240px;
    }

    // &__content {}

    &__items {
        display: flex;
    }

    &__items + &__items {
        border-top: 1px dashed $gray_light;
        margin-top: 20px;
        padding-top: 20px;
    }

    &__item {
        @include text($size, $black);
        min-width: 240px;
    }

    // &__btn-wrapper {}
    // &__btn {}
}