.cost-fsb-crpt {
    // &__container {}

    &__title {
        @include title(x-hg, $black, upp);
        border-bottom: 1px dashed #dfdfdf;
        margin: 30px 130px;
        padding-bottom: 30px;
    }
    
    &__table {
        border: 6px solid rgba(223, 223, 223, 0.3);
        padding: 50px;
    }

    &__caption {
        display: flex;
        @include caption(lg, $black);
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed rgba(223, 223, 223, 0.3);
    }

    &__caption-name {
        min-width: 620px;
    }

    &__caption-term {
        min-width: 170px;
    }

    &__caption-cost {
        min-width: 170px;
    }

    &__text {
        display: flex;
        @include text(lg, $black);
    }

    &__text + &__text {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px dashed rgba(223, 223, 223, 0.3);
    }

    &__text-name {
        min-width: 620px;
    }

    &__text-term {
        min-width: 170px;
    }

    &__text-cost {
        min-width: 170px;
    }

    &__btn-wrapper {
        margin-top: 40px;
    }

    // &__btn {}
}
