.criterion {
    margin: 60px 0 80px;
    
    &__wrapper {
        display: flex;
        width: 100%;
        border: 6px solid rgba(223, 223, 223, 0.3);
        padding: 70px;

        &-one {
            overflow: hidden;
        }

        &-two {
            margin-left: -76px;
            margin-bottom: -50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &_four &__wrapper {
        padding: 40px;

        &-two {
            margin-left: 0;
            flex-wrap: nowrap;
        }
    }

    &__container {
        display: flex;
        align-items: center;

        border-left: 1px dashed rgba(223, 223, 223, 0.3);
        padding-left: 38px;
        margin-left: 38px;
        width: 336px;
        margin-bottom: 50px;
    }

    &_four &__container {
        max-width: 25%;

        &:first-child {
            border-left: 0;
            padding-left: 0;
            margin-left: 0;
        }
    }

    &__container + &__container {
        border-left: 1px dashed rgba(223, 223, 223, 0.3);
        padding-left: 38px;
        margin-left: 38px;
    }

    &_four &__container + &__container {
        padding-left: 15px;
        margin-left: 15px;
    }

    &__icon-wrapper {
        min-width: 70px;
    }

    &__icon-numeric {
        background: #0079c9;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // &__icon {}

    &__content {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }

    &_four &__content {
        margin-left: 20px;
    }

    &__title {
        @include title(lg, $black);
        padding-bottom: 10px;
    }

    &_four &__title {
        font-size: 18px;
        line-height: 20px;
        max-width: 80px;
    }

    &__text {
        @include text(sm, $black);
    }

    &_four &__text {
        font-size: 14px;
        line-height: 14px;
    }
}