.directions {
    &_item {
        width: 33.3333%;
        float: left;
    }

    &__storage {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        margin: 40px;
    }

    &__container {
        padding: 50px 20px 0 50px;
    }

    &__title {
        @include title(x-hg, $black, upp);
        padding-bottom: 20px;
    }

    &__description {
        @include text($size, $black);
        line-height: 20px;
    }

    &__content {
        display: flex;
        align-items: center;
        padding: 50px;
    }

    // &__icon {}

    &__text {
        @include caption($size, $black, upp);
        padding-left: 25px;
    }
}