.reasons {
    margin: 90px 0 100px;
    text-align: center;
    
    &__title {
        @include title(x-hg, $black, upp);
    }

    &__description {
        @include text($size, $black);
        border-bottom: 1px dashed $gray_light;
        padding-bottom: 30px;
        margin-bottom: 10px;
        width: 80%;
    }

    &__text {
        @include text($size, $black);
        display: flex;
        flex-direction: column;
    }

    & span + span {
        padding-top: 20px;
    }
}