.feedback {
    background: url(../images/5x@background-slider.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        padding: 50px 0;
        background: linear-gradient(180deg, rgba(0, 79, 133, 0.1) 100%, rgba(0, 79, 133, 0.8) 0);
    }

    &__title {
        @include title(x-hg, $white, upp);
        border-left: 6px solid $energized;
        padding-left: 20px;
    }

    &__form {
        align-items: center;
        display: flex;
    }

    // &__input-wrapper {}
    
    &__input {
        margin: 0 !important;
        padding: 25px 40px !important;
    }

    &__btn {
        width: 100%;
    }

    &__description {
        font-size: 12px;
        line-height: 12px;
        color: $gray_dark;
    }

    & .form__thanks {
        color: #fff;
        font-weight: 900;
        font-size: 30px;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}
