.footer {
    background: url(../images/5x@back-footer.png);

    &__wrapper {
        background: rgba(0, 44, 74, 0.5);
    }

    &__menu-titles {
        display: flex;
        margin-top: 20px;
    }

    &__title {
        @include caption(lg, $white);
    }

    &__menu-wrapper {
        display: flex;
        border-bottom: 1px dashed $white;
        padding-bottom: 30px !important;
        margin-bottom: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__link {
        @include text(sm, $white);
    }

    &__link + &__link {
        margin-top: 10px;
    }

    &__row-wrapper {
        display: flex;
    }

    // &__container-logo {}
    // &__logo {}

    &__law {
        @include text($size, $white);
        padding: 30px 0 14px;
    }

    &__kvott {
        @include text(xs, $white);
    }

    &__info {
        width: 33.3333%;
        padding: 10px 10px 0;
    }

    &__info-title {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }

    &__info-icon-wrapper {
        min-width: 20px;
        display: flex;
        align-items: center;

        &_marker {
            align-items: flex-start;
            margin-right: 10px;
        }
    }

    &__icon {
        &_mail {
            height: 14px;
        }

        &_marker {
            height: 20px;
        }
    }

    &__info-caption {
        @include caption($size, $white);
        padding-left: 9px;
    }

    &__info-text {
        @include text(xs, $white);
        display: flex;

        &_not-icon {
            padding-left: 30px;
        }
    }
}