.header {
    background: $white;

    // &__content {}
    // &__col {}

    &__logo-wrapper {
        max-height: 60px;
    }

    // &__logo-link {}
    // &__logo {}

    &__container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__phone {
        display: flex;
    }

    &__phone-code {
        @include caption($size, $gray_dark, upp);
    }

    &__phone-number {
        @include caption($size, $black, upp);
        padding-left: 5px;
    }

    // &__mail {}

    &__btn {
        max-height: 40px;
        margin: 0 20px;
        @include caption($size, $black, upp);
    }

    // &__drop-down-menu {}

    &__menu {
        padding-bottom: 0;
    }

    &__col {
        padding-bottom: 0;
    }
}
