.help {
    margin-top: 40px;
    
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        @include title(x-hg, $black);
        width: 90%;
    }

    &__text {
        @include text($size, $black);
        width: 90%;
        margin: 30px 0 40px;
    }

    &__criterion {
        display: flex;
    }

    &__cost {
        @include title(hg, $black, upp, weight);
        display: flex;
        flex-direction: column;

        &_poz {
            @include title(hg, $positive, upp);
        }
    }

    &__time {
        @include title(hg, $black,  upp, weight);
        display: flex;
        flex-direction: column;
        border-left: 1px dashed $gray_light;
        padding-left: 30px;
        margin-left: 30px;

        &_poz {
            @include title(hg, $positive, upp);
        }
    }

    &__caption {
        @include title(hg, $black);
        padding: 50px 0 20px;
    }

    &__item {
        @include text($size, $black);
        display: flex;
        align-items: center;
    }

    &__item::before {
        content: "";
        height: 10px;
        width: 10px;
        background: $positive;
        display: flex;
        margin-right: 10px;
    }

    &__item + &__item {
        margin-top: 20px;
    }

    &__form-wrapper {
        border: 6px solid $positive;
        padding: 80px 61px 70px;
    }

    &__title-form {
        @include title(x-hg, $black,  upp);
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px dashed $black;
    }
    
    // &__form {}

    &__btn-wrapper {
        margin-top: 30px;
    }

    &__btn {
        width: 100%;
    }

    &__description-form {
        font-size: 12px;
        line-height: 12px;
        color: $gray_dark;
        margin-top: -20px;
    }
}
