.info {
    & + & {
        margin-top: 120px;
    }

    &_shadow .row {
        padding: 50px;
        position: relative;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    }

    &__back-img {
        background: url(../images/5x@specialists.png);
        width: 100%;
        height: 100%;
        max-height: 410px;
    }

    &__back-img-wrapper {
        background: rgba(0, 44, 74, 0.6);
        width: 100%;
        height: 100%;
    }

    // &__content {}

    &__title {
        @include title(x-hg, $black);
        margin-bottom: 50px;
    }

    &__text {
        @include text($size, $black);
        display: flex;
        flex-direction: column;
    }

    & span + span {
        margin-top: 10px;
    }

    &_right &_row &_col:first-child {
        order: 2;
    }

    &__any-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        
        img {
            width: 100%;
        }
    }

    &_shadow &__any-image {
        margin: -60px;
        position: absolute;
        height: 100%;
        width: 600px;
    }

    &_shadow .row:not(.row_reverse) &__any-image {
        left: 60px;
    }

    &_shadow .row_reverse &__any-image {
        right: 60px;
    }
}
