.licenses {

    &__top {
        margin-bottom: 50px;
    }

    &__title {
        @include title(x-hg, $black, upp);
        border-left: 6px solid $energized;
        padding-left: 20px;
        margin-bottom: 90px;

        &_not-mar {
            margin-bottom: 30px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-left: 26px;
    }

    &__btn-wrapper {
        display: flex;
    }

    // &__btn {}

    &__container {
        background: url(../images/5x@background-slider.png);
        position: relative;
    }

    &__row:nth-child(odd) &__col:first-child {
        order: 1;
    }

    &__row:nth-child(odd) &__col:last-child {
        order: 0;
    }

    &__row + &__row {
        margin-top: 120px;
    }

    &__container-wrapper {
        background: rgba(0, 34, 57, 0.3);
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 70px;
    }

    &__caption {
        @include title(lg, $white);
        padding-bottom: 30px;
        margin-bottom: 25px;
        border-bottom: 5px solid $energized;
        width: 70%;
    }

    &__text {
        @include text($size, $white);
        margin-bottom: 30px;
    }

    // &__btn-wrapper {}
    // &__btn {}

    &__img {
        position: absolute;
        // right: -100px;
        // width: 75%;
        bottom: -50px;
        width: 450px;
    }

    &__row:nth-child(odd) &__col:last-child &__img {
        left: 90px;
        bottom: -80px;
    }
}
