.license-modal {
    &__description {
        font-size: $font_l;
        font-weight: 200;
        line-height: $line-height_s;
        border-left: 5px solid $positive;
        padding-left: $size;
    }

    &__description + &__description,
    &__description + &__text-title {
        margin-top: $offset_s;
    }

    &__description-title {
        font-weight: bold;
    }

    &__description-list {
        margin-top: $offset_s;
    }
}