.licensing {
    // &__container {}

    &__title {
        @include title(x-hg, $black, upp);
        text-align: center;
        margin-bottom: 60px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__img {
        z-index: 3;
        max-width: 450px;
    }

    &__content {
        background: url(../images/5x@background-licensing.png);
        z-index: 2;
        margin-left: -50px;
    }

    &__content-wrapper {
        background: rgba(0, 44, 74, 0.5);
        padding: 90px 110px;
    }

    &__caption {
        @include title(x-hg, $white);
    }

    &__text {
        @include text($size, $white);
        padding: 20px 0 30px;
        display: flex;
        flex-direction: column;
    }

    &__text span {
        padding: 10px 0;
    }

    // &__btn {}

    &__links {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
    }

    // &__link {}
}