.news {
    // &__wrapper {}

    &__img-wrapper {
        position: relative;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__img-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 44, 74, 0), #002C4A);
        width: 100%;
        height: 100%;
        padding: 30px;
        display: flex;
        align-items: flex-end;
    }

    &__img-sign {
        @include caption($size, $white);
    }
    
    &__content {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 30px;
    }

    &__caption {
        @include caption(lg, $positive);
    }

    &__text {
        @include text($size, $black);
        padding: 20px 0 30px;
    }

    &__date {
        @include text($size, $gray_dark);
    }

    &__btn-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    // &__btn {}

    &__wrapper-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__title {
        @include title(x-hg, $black, upp);
        border-left: 6px solid $energized;
        padding-left: 20px;
    }

    // &__btn-sol {}

    &__container {
        display: block;
    }

    &__content-item {
        width: 40%;
        float: left;
        padding: 10px;
        margin: 10px;
    }

    &__text-item {
        @include text($size, $black);
        padding: 20px 0;
    }

    &__content-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__label {
        @include caption($size, $positive);
    }
}
