.offer {
    background: url(../images/5x@background-slider.png);
    position: relative;
    min-height: 640px;
    background-size: cover;

    &_owerflow {
        overflow: hidden;
    }

    &__wrapper {
        // background: rgba(0, 79, 133, 0.6);
        background: linear-gradient(180deg, rgba(0, 79, 133, 0.8) 0, rgba(0, 79, 133, 0.1) 100%);
        min-height: 640px;
    }

    &__wrapper > .row {
        height: 100%;
        min-height: 640px;
    }

    &__wrapper > .row > .col > &__content{
        height: 100%;
        min-height: 640px;
        flex-direction: column;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__sale {
        margin: -20px 0 80px 26px;
        padding: 30px;
        font-size: 30px;
        line-height: 34px;
        font-weight: bold;
        color: #fff;
        border: 4px solid $energized;
    }

    &__title {
        @include title(x-hg, $white, upp);
        margin-top: 90px;
        border-left: 6px solid $energized;
        padding-left: 20px;

        span {
            color: $energized;
        }
    }

    &__criterions {
        @include title(hg, $white, upp, weight);
        display: flex;
        margin: 40px 0 80px 26px;
    }

    &__criterions-b {
        font-weight: bold;
    }

    &__cost {
        display: flex;
        flex-direction: column;
    }

    &__period {
        display: flex;
        flex-direction: column;
        border-left: 1px dashed #fff;
        margin-left: 30px;
        padding-left: 30px;
    }

    &__text {
        @include text($size, $white);
        margin: 40px 0 80px;
        width: 80%;
        margin-left: 26px;
    }

    &__btn-wrapper {
        margin-bottom: 90px;
        margin-left: 26px;
    }

    &__title + &__btn-wrapper {    
        margin-top: 40px;
    }

    // &__btn {}

    &__img {
        position: absolute;
        height: 100%;
        right: 0;
        bottom: 0;

        &_opened {
            height: 135%;
            bottom: -240px;
            right: 120px;
        }

        &_visible {
            height: 100%;
            right: 200px;
            bottom: -80px;
        }

        &_normal {
            height: 100%;
            bottom: 0px;
            right: 100px;
        }
    }
}
