.services {
    margin-top: -80px;

    &__container-wrapper {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 40px 0px;
        background: $white;
        z-index: 3;
        margin: 0 70px;
    }

    &__container {
        display: flex;
        padding: 10px 25px;
    }

    &__icon {
        height: 70px;
    }

    &__content {
        padding-left: 30px;
    }

    &__caption {
        @include caption($size, $black);
        border-bottom: 1px dashed $gray_light;
        padding-bottom: 10px;
        width: 90%;
    }

    &__text {
        @include text(sm, $black);
        font-weight: 300;
        padding: 10px 0;
    }

    &__link {
        @include text(sm, $positive);
    }
}
