.slider {
    background: url(../images/5x@background-slider.png);
    height: 600px;
    position: relative;

    // &__row {}
    
    &__col:first-child {
        z-index: 2;
    }

    &__shape {
        display: flex;
        align-items: center;
    }

    &__shape-icon {
        max-height: 50px;
    }

    // &__content {}

    &__title {
        // @include title($size, $white, upp);

        font-size: 34px;
        line-height: 40px;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        margin-top: 30px;

        span {
            color: $energized;
        }
    }

    &__description {
        @include text($size, $white);
        margin: 40px 0;
        padding-right: 40px;
    }

    &__criterions {
        @include title(hg, $white, upp, weight);
        display: flex;
    }

    &__criterions-b {
        font-weight: bold;
    }

    &__cost {
        display: flex;
        flex-direction: column;
    }

    &__period {
        display: flex;
        flex-direction: column;
        border-left: 1px dashed #fff;
        margin-left: 30px;
        padding-left: 30px;
    }

    &__buttons {
        margin-top: 50px;
        margin-bottom: 108px;
    }

    // &__btn {}

    &__btn-solid {
        margin-left: 40px;
    }

    &__img {
        z-index: 1;
        position: absolute;
        right: 50px;
        width: 550px;
    }

    &__dotnav {
        padding: 0;
        margin: 0;
        bottom: 60px;
        width: 100%;
        padding-left: 110px;
    }

    & .uk-dotnav>*>* {
        width: 40px;
        height: 10px;
        border-radius: 0;
        border-color: #fff;
        border-width: 2px;
        background: rgba(255, 255, 255, 0.2);
    }

    & .uk-dotnav>*>:focus, .uk-dotnav>*>:hover {
        background: rgba(255, 255, 255, 0.5);
    }

    & .uk-dotnav>.uk-active>* {
        background-color: #fff;
    }
}
