.sro {
    &__main-title {
        @include title(x-hg, $black, upp);
    }
    &__container {
        display: flex;
    }
    &__icon {
        height: 70px;
    }
    &__content {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
    }
    &__title {
        @include caption(lg, $black);
        padding-bottom: 30px;
    }
    &__caption {
        @include caption(sm, $black);
        padding-bottom: 10px;
    }
    &__description {
        @include text(sm, $black);
        padding-bottom: 20px;
    }
    &__btn {
        margin-top: 40px;
    }
}