
.sroCard {
    margin: 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

    &__imgWrapper {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    &__img {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    &__textContainer {
        padding: 30px;
    }

    &__title {
        text-align: center;
        font-size: 22px;
        line-height: 30px;
        font-weight: bold;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::after {
            content: "";
            height: 4px;
            width: 100px;
            background: #0079c3;
            display: block;
            margin-top: 20px;
        }
    }

    &__price {
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    &__btn {
        font-size: 14px;
    }
}