.tender {
    &__container {
        background-image: url(../images/5x@background-print.png);
    }

    &__container-wrapper {
        background: rgba(0, 44, 74, 0.6);
        padding: 80px 90px;
        height: 100%;
    }

    &_noImg &__container {
        background-image: none; 
    }

    &_noImg &__container-wrapper {
        background: transparent;
        padding: 0;
    }

    &__title {
        @include title(x-hg, $white, upp);
        margin-bottom: 60px;
        border-left: 6px solid $energized;
        padding-left: 20px;
        width: 90%;
    }

    &__links {
        display: flex;
        justify-content: space-between;
    }

    // &__link {}

    &__text {
        @include text($size, $white);
        padding: 60px 0;
    }

    // &__btn {}
    // &__content {}
    
    &__caption {
        @include title(x-hg, $black, upp);
        border-left: 6px solid $energized;
        padding-left: 20px;
        margin: 20px 0 5px;
    }

    // &__images {}

    &__img {
        padding: 25px 0;
    }
}
