.training {
    background: url(../images/5x@training-specialists.png);

    &__wrapper {
        background: rgba(0, 44, 74, 0.6);

    }

    &__container {
        display: flex;
        flex-direction: column;
        margin: 60px 0;
    }

    &__title {
        @include title(x-hg, $white, upp);
        border-left: 6px solid $energized;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    &__content {
        display: flex;
        align-items: center;
        padding: 30px 0;
    }

    // &__icon {}

    &__text {
        @include text($size, $white);
        padding-left: 15px;
    }

    &__btn-wrapper {
        margin-top: 10px;
    }

    // &__btn {}
}