.description {
    margin: 20px 0 80px;

    // &__content {}

    &__text {
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    & span + span {
        margin-top: 10px;
    }

    &__items {
        margin-top: 30px;

        a + a {
            margin-left: 40px;
        }
    }

    // &__link {}
}
