.form {
    &__title {
        @include caption($size, $black);
        padding-bottom: 10px;
    }
    
    &__input {
        @include text(lg, $black);
        text-align: center;
        border: 2px solid $gray_light;
        padding: 19px 40px;
        margin-bottom: 20px;
    
    }
}
