.menu {

    &__link {
        white-space: nowrap;
    }

    // Первый пункт меню

    &:not(&_sub) {
        z-index: 3;
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-top: 1px dashed $gray-light;
        margin-top: -20px;
    }

    // Первая вложенность

    &:not(&_sub) > &__item {
        position: relative;
    }

    &:not(&_sub) > &__item > &__link {
        position: relative;
        display: flex;
        align-items: center;
        @include caption(sm, $black);
        padding: 20px 28px 20px 20px;
        transition: 0.2s ease-in-out;

        &:active {
            @include caption(sm, $positive);
        }

        &_active,
        &:hover {
            @include caption(sm, $positive);
        }

        &_dropdown::after {
            position: absolute;
            content: "";
            margin-left: 10px;
            background: url(../icon/icon-arrow.svg);
            width: 8px;
            height: 8px;
            background-repeat: no-repeat;
            right: 10px;
            margin-top: 2px;
            display: none;
        }
    }

    &:not(&_sub) > &__item:hover > &__link {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: 0.8s ease-in-out;
    }

    // Вторая вложенность

    &:not(&_sub) > &__item > & {
        position: absolute;
        transition: 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        background: $white;
        right: 0;
    }

    &:not(&_sub) > &__item:hover > & {
        visibility: visible;
        opacity: 1;
    }

    &:not(&_sub) &_sub {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
    }

    &_sub > &__item {
        width: 100%;
    }

    &_sub > &__item > &__item-activator {
        position: relative;
        display: flex;
        align-items: center;
    }

    &_sub > &__item > &__link,
    &_sub > &__item > &__item-activator > &__link {
        display: flex;
        align-items: center;
        @include caption(sm, $black);
        padding: 10px 28px 10px 20px;
        width: 100%;
        justify-content: flex-end;

        &:active {
            @include caption(sm, $positive);
        }

        &_active,
        &:hover {
            @include caption(sm, $positive);
        }
    }

    &_sub &__link-icon {
        position: absolute;
        right: 0;
        width: 8px;
        height: 8px;
        padding: 13px 10px;
        box-sizing: content-box;
    }

    &_sub &_sub {
        overflow: hidden;
    }

    &_sub &_sub > &__item {
        margin-top: -36px;
    }

    &_sub > &__item:hover > &_sub > &__item {
        margin-top: 0;
    }
}
