{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/base/slider.twig" with {"__scope":slider} %}
{% include "components/base/services.twig" with {"__scope":services} %}
{% include "components/base/amenities.twig" with {"__scope":amenities} %}
{% include "components/base/sro.twig" with {"__scope":sro} %}
<div style='margin-top: 90px;'>
{% include "components/base/training.twig" with {"__scope":training} %}
</div>
{% include "components/base/directions.twig" with {"__scope":directions} %}
<div style='margin-top: 90px;'>
{% include "components/base/licensing.twig" with {"__scope":licensing} %}
</div>
<div style='margin-top: 160px;'>
{% include "components/base/accreditation.twig" with {"__scope":accreditation} %}
</div>
<div style='margin-top: 160px;'>
{% include "components/base/certificates.twig" with {"__scope":certificates} %}
</div>
<div style='margin-top: 160px;'>
{% include "components/base/tender.twig" with {"__scope":tender} %}
</div>
<div style='margin-top: 90px;'>
{% include "components/base/center.twig" with {"__scope":center} %}
</div>
{# include "components/base/news.twig" with {"__scope":news} #}
{% include "components/base/footer.twig" with {"__scope":footer} %}

