{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_fstek} %}
{% include "modules/description.twig" with {"__scope":description_fsb_crpt} %}
{% include "components/services/criterion.twig" with {"__scope":criterion} %}
{% include "components/fsb-gos/consultation.twig" with {"__scope":consultation_fstek} %}
{% include "components/fsb-crpt/cost-fsb-crpt.twig" with {"__scope":cost_fstek} %}
{% include "components/fstek/specification-fstek.twig" with {"__scope":specification_fstek} %}
{% include "components/fsb-gos/info.twig" with {"__scope":info_fstek} %}
{% include "components/services/explanation.twig" with {"__scope":explanation_fstek} %}
{% include "components/services/feedback.twig" with {"__scope":feedback_fsb_gos} %}
{% include "components/base/center.twig" with {"__scope":center} %}
{% include "components/base/footer.twig" with {"__scope":footer} %}
