{% include "components/modal-form-default.twig" %}


<div id="radiation_1" class="modal modalCloseOverlay">
    <div class="modal__container">
        <img class="modal__close" src="/icon/cancel.svg">
        <div class="modal__head">
            <p class="bold bold_balanced">Виды деятельности</p>
            <!--p>{{ __scope.link.name|raw }}</p-->
        </div>
        <div class="modal__body">
            <div class="license-modal">
                <div class="license-modal__description">
                    Проектирование источников ионизирующего излучения (генерирующих);
                </div>
                <div class="license-modal__description">
                    Конструирование источников ионизирующего излучения (генерирующих);
                </div>
                <div class="license-modal__description">
                    Производство источников ионизирующего излучения (генерирующих);
                </div>
                <div class="license-modal__description">
                    Размещение источников ионизирующего излучения (генерирующих);
                </div>
                <div class="license-modal__description">
                    Эксплуатация источников ионизирующего излучения (генерирующих);
                </div>
                <div class="license-modal__description">
                    Техническое обслуживание источников ионизирующего излучения (генерирующих);
                </div>
                <div class="license-modal__description">
                    Хранение источников ионизирующего излучения (генерирующих);
                </div>
                <div class="license-modal__description">
                    Утилизация источников ионизирующего излучения (генерирующих);
                </div>
                <div class="license-modal__description">
                    Проектирование средств радиационной защиты источников ионизирующего излучения (генерирующих);
                </div>
                <div class="license-modal__description">
                    Конструирование средств радиационной защиты источников ионизирующего излучения (генерирующих);
                </div>
                <div class="license-modal__description">
                    Изготовление средств радиационной защиты источников ионизирующего излучения (генерирующих);
                </div>
                <div class="license-modal__description">
                    Эксплуатация средств радиационной защиты источников ионизирующего излучения (генерирующих);
                </div>
            </div>
        </div>
    </div>
</div>

<div id="radiation_2" class="modal modalCloseOverlay">
    <div class="modal__container">
        <img class="modal__close" src="/icon/cancel.svg">
        <div class="modal__head">
            <p class="bold bold_balanced">Этапы получения лицензии</p>
            <!--p>{{ __scope.link.name|raw }}</p-->
        </div>
        <div class="modal__body">
            <div class="license-modal">
                <div class="license-modal__description">
                    Анализ ваших документов.
                </div>
                <div class="license-modal__description">
                    Разработка внутренней документации, необходимой для получения экспертного заключения.
                </div>
                <div class="license-modal__description">
                    Обучение ваших сотрудников по программе «Радиационная безопасность». Или подбор специалистов, если у вас в штате нет подходящих сотрудников.
                </div>
                <div class="license-modal__description">
                    Подача документов во ФБУЗ и сопровождение санитарно-эпидемиологической экспертизы.
                </div>
                <div class="license-modal__description">
                    Получение акта санитарно-эпидемиологической экспертизы и экспертного заключения.
                </div>
                <div class="license-modal__description">
                    Разработка внутренней документации, необходимой для получения лицензии на работу с ИИИ.
                </div>
                <div class="license-modal__description">
                    Подача документов в Роспотребнадзор для получения санитарно-эпидемиологического заключения (СЭЗ) и лицензии на работу с ИИИ. Сопровождение на всех этапах лицензирования.
                </div>
                <div class="license-modal__description">
                    Получение санитарно-эпидемиологического заключения (СЭЗ) и лицензии на работу с ИИИ.
                </div>
            </div>
        </div>
    </div>
</div> 

<div id="fstek_1" class="modal modalCloseOverlay">
    <div class="modal__container">
        <img class="modal__close" src="/icon/cancel.svg">
        <div class="modal__head">
            <p class="bold bold_balanced">Виды деятельности ТЗКИ</p>
            <!--p>{{ __scope.link.name|raw }}</p-->
        </div>
        <div class="modal__body">
            <div class="license-modal">
                <div class="license-modal__description">
                    <div class="license-modal__description-title">
                        а) контроль защищенности конфиденциальной информации от утечки по техническим каналам в:
                    </div>
                    <ul class="license-modal__description-list">
                        <li class="license-modal__description-item">
                            1 - средствах и системах информатизации;
                        </li>
                        <li class="license-modal__description-item">
                            2 - технических средствах (системах), не обрабатывающих конфиденциальную информацию, но размещенных в помещениях, где она обрабатывается;
                        </li>
                        <li class="license-modal__description-item">
                            3 - помещениях со средствами (системами), подлежащими защите;
                        </li>
                        <li class="license-modal__description-item">
                            4 - помещениях, предназначенных для ведения конфиденциальных переговоров (далее – защищаемые помещения);
                        </li>
                    </ul>
                </div>

                <div class="license-modal__description">
                    <div class="license-modal__description-title">
                        б) контроль защищенности конфиденциальной информации от несанкционированного доступа и ее модификации в средствах и системах информатизации;
                    </div>
                </div>    
                <div class="license-modal__description">
                    <div class="license-modal__description-title">
                        в) мониторинг информационной безопасности средств и систем информатизации;
                    </div>
                </div>
                <div class="license-modal__description">
                    <div class="license-modal__description-title">         
                        г) аттестационные испытания и аттестация на соответствие требованиям по защите информации:
                    </div>    
                    <ul class="license-modal__description-list">
                        <li class="license-modal__description-item">
                            1 - средств и систем информатизации;
                        </li>    
                        <li class="license-modal__description-item">
                            2 - помещений со средствами (системами), подлежащими защите;
                        </li>
                        <li class="license-modal__description-item">    
                            3 - защищаемых помещений;
                        </li>
                    </ul>
                </div>           
                <div class="license-modal__description">
                    <div class="license-modal__description-title">     
                        д) проектирование в защищенном исполнении:
                    </div>    
                    <ul class="license-modal__description-list">
                        <li class="license-modal__description-item">
                            1 - средств и систем информатизации;
                        </li>
                        <li class="license-modal__description-item">    
                            2 - помещений со средствами (системами), подлежащими защите;
                        </li>
                        <li class="license-modal__description-item">    
                            3 - защищаемых помещений;
                        </li>
                    </ul>
                </div>      
                <div class="license-modal__description">
                    <div class="license-modal__description-title">        
                        е) установка, монтаж, испытания, ремонт средств защиты информации:
                    </div>    
                    <ul class="license-modal__description-list">
                        <li class="license-modal__description-item">
                            1 - технических средств защиты информации;
                        </li>
                        <li class="license-modal__description-item">    
                            2 - защищенных технических средств обработки информации;
                        </li>
                        <li class="license-modal__description-item">        
                            3 - технических средств контроля эффективности мер защиты информации;
                        </li>
                        <li class="license-modal__description-item">        
                            4 - программных (программно-технических) средств защиты информации;
                        </li>
                        <li class="license-modal__description-item">        
                            5 - защищенных программных (программно-технических) средств обработки
                            информации;
                        </li>
                        <li class="license-modal__description-item">        
                            6 - программных (программно-технических) средств контроля защищенности
                            информации).
                        </li>
                    </ul> 
                </div>    
            </div>
        </div>
    </div>
</div>

<div id="fstek_2" class="modal modalCloseOverlay">
    <div class="modal__container">
        <img class="modal__close" src="/icon/cancel.svg">
        <div class="modal__head">
            <p class="bold bold_balanced">Виды деятельности СЗКИ</p>
            <!--p>{{ __scope.link.name|raw }}</p-->
        </div>
        <div class="modal__body">
            <div class="license-modal">
                <div class="license-modal__description">
                    <div class="license-modal__description-title">
                        а) разработка средств защиты конфиденциальной информации, в том числе:
                    </div>
                    <ul class="license-modal__description-list">
                        <li class="license-modal__description-item">
                            1 - технических средств защиты информации;
                        </li>
                        <li class="license-modal__description-item">
                            2 - защищенных технических средств обработки информации;
                        </li>
                        <li class="license-modal__description-item">
                            3 - технических средств контроля эффективности мер защиты информации;
                        </li>
                        <li class="license-modal__description-item">
                            4 - программных (программно-технических) средств защиты информации;
                        </li>
                        <li class="license-modal__description-item">
                            5 - защищенных программных (программно-технических) средств обработки информации;
                        </li>
                        <li class="license-modal__description-item">
                            6 - программных (программно-технических) средств контроля защищенности информации;
                        </li>
                    </ul>
                </div>
                <div class="license-modal__description">
                    <div class="license-modal__description-title">
                        б) производство средств защиты конфиденциальной информации, в том числе:
                    </div>
                    <ul class="license-modal__description-list">
                        <li class="license-modal__description-item">
                            1 - технических средств защиты информации;
                        </li>
                        <li class="license-modal__description-item">
                            2 - защищенных технических средств обработки информации;
                        </li>
                        <li class="license-modal__description-item">
                            3 - технических средств контроля эффективности мер защиты информации;
                        </li>
                        <li class="license-modal__description-item">
                            4 - программных (программно-технических) средств защиты информации;
                        </li>
                        <li class="license-modal__description-item">
                            5 - защищенных программных (программно-технических) средств обработки информации;
                        </li>
                        <li class="license-modal__description-item">
                            6 - программных (программно-технических) средств контроля защищенности информации;
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="fstek_3" class="modal modalCloseOverlay">
    <div class="modal__container">
        <img class="modal__close" src="/icon/cancel.svg">
        <div class="modal__head">
            <p class="bold bold_balanced">Этапы получения лицензии</p>
            <!--p>{{ __scope.link.name|raw }}</p-->
        </div>
        <div class="modal__body">
            <div class="license-modal">
                <!--div class="license-modal__title" style="margin-bottom: 40px;">
                    Для получения лицензии ФСТЭК на деятельность по технической защите конфиденциальной информации, сотрудники Проф Лайн Консалтинг проводят комплекс следующих мероприятий:
                </div-->
                <div class="license-modal__description">
                    Аудит юридических документов компании соискателя лицензии на соответствие лицензионным требованиям;
                </div>
                <div class="license-modal__description">
                    Поставка, установка, настройка средств защиты информации;
                </div>
                <div class="license-modal__description">
                    Аттестации автоматизированной системы и защищаемого помещения по требованиям безопасности информации;
                </div>
                <div class="license-modal__description">
                    Ознакомление с имеющейся или создание организационно-распорядительной документации, необходимой для подачи в лицензионный орган ФСТЭК;
                </div>
                <div class="license-modal__description">
                    Приведение в соответствие к лицензионным требованиям и обеспечению режима информационной безопасности в компании;
                </div>
                <div class="license-modal__description">
                    Поиск и/или привлечение квалифицированных специалистов, необходимых при осуществлении заявленных видов деятельности;
                </div>
                <div class="license-modal__description">
                    Формирование комплекта документов, необходимого  для подачи на предоставление лицензии в лицензионный орган ФСТЭК;
                </div>
                <div class="license-modal__description">
                    Взаимодействие с лицензионным органом на всех этапах рассмотрения лицензионного дела.
                </div>
                <div class="license-modal__description">
                    Получение бланка лицензии.
                </div>
            </div>
        </div>
    </div>
</div>


<div id="crypt_1" class="modal modalCloseOverlay">
    <div class="modal__container">
        <img class="modal__close" src="/icon/cancel.svg">
        <div class="modal__head">
            <p class="bold bold_balanced">Виды деятельности</p>
            <!--p>{{ __scope.link.name|raw }}</p-->
        </div>
        <div class="modal__body">
            <div class="license-modal">
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            1 - Разработка шифровальных (криптографических) средств.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            2 - Разработка защищенных с использованием (криптографических) средств информационных систем.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            3 - Разработка защищенных с использованием (криптографических) средств телекоммуникационных систем.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            4 - Разработка средств изготовления ключевых документов.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            5 - Модернизация шифровальных (криптографических) средств.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            6 - Модернизация средств изготовления ключевых документов.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            7 - Производство (тиражирование) шифровальных (криптографических) средств.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            8 - Производство защищенных с использованием шифровальных (криптографических) средств информационных систем.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            9 - Производство защищенных с использованием шифровальных (криптографических) средств телекоммуникационных систем.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            10 - Производство средств изготовления ключевых документов.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            11 - Изготовление с использованием шифровальных (криптографических) средств изделий, предназначенных для подтверждения прав (полномочий) доступа к информации и (или) оборудованию в информационных и телекоммуникационных системах.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            12 - Монтаж, установка (криптографических) средств.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            13 - Монтаж, установка (инсталляция), наладка защищенных с использованием шифровальных (криптографических) средств информационных систем.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            14 - Монтаж, установка (инсталляция), наладка защищенных с использованием шифровальных телекоммуникационных систем.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            15 - Монтаж, установка (инсталляция), наладка средств изготовления ключевых документов.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            16 - Ремонт шифровальных (криптографических) средств.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            17 - Ремонт, сервисное обслуживание защищенных с использованием шифровальных (криптографических) средств информационных систем.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            18 - Ремонт, сервисное обслуживание защищенных с использованием шифровальных (криптографических) средств телекоммуникационных систем.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            19 - Ремонт, сервисное обслуживание средств изготовления ключевых документов.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            20 - Работы по обслуживанию шифровальных (криптографических) средств, предусмотренные технической и эксплуатационной документацией на эти средства (за исключением случая, если указанные работы проводятся для обеспечения собственных нужд юридического лица или индивидуального предпринимателя).
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            21 - Передача шифровальных (криптографических) средств.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            22 - Передача защищенных с использованием (криптографических) средств информационных систем.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            23 - Передача защищенных с использованием (криптографических) средств телекоммуникационных систем.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            24 - Передача средств изготовления ключевых документов.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            25 - Предоставление услуг по шифрованию информации, не содержащей сведений, составляющих государственную тайну, с использованием шифровальных (криптографических) средств в интересах юридических и физических лиц, а также индивидуальных предпринимателей.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            26 - Предоставление услуг по имитозащите информации, не содержащей сведений, составляющих государственную тайну, с использованием шифровальных (криптографических) средств в интересах юридических и физических лиц, а также индивидуальных предпринимателей.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            27 - Предоставление юридическим и физическим лицам защищенных с использованием шифровальных (криптографических) средств каналов связи для передачи информации.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                                    <div class="license-modal__description">
                        <div class="license-modal__description-title">
                            28 - Изготовление и распределение ключевых документов и (или) исходной ключевой информации для выработки ключевых документов с использованием аппаратных, программных и программно-аппаратных средств, систем и комплексов изготовления и распределения ключевых документов для шифровальных (криптографических) средств.
                        </div>
                        <ul class="license-modal__description-list">
                                                    </ul>
                    </div>
                            </div>
        </div>
    </div>
</div>


<div id="crypt_2" class="modal modalCloseOverlay">
    <div class="modal__container">
        <img class="modal__close" src="/icon/cancel.svg">
        <div class="modal__head">
            <p class="bold bold_balanced">Этапы получения лицензии</p>
            <!--p>{{ __scope.link.name|raw }}</p-->
        </div>
        <div class="modal__body">
            <div class="license-modal">
                                    <div class="license-modal__description">
                        Аудит юридических документов компании соискателя лицензии на соответствие лицензионным требованиям;
                    </div>
                                    <div class="license-modal__description">
                        Поставка, установка, настройка средств защиты информации;
                    </div>
                                    <div class="license-modal__description">
                        Аттестация автоматизированной системы по требованиям безопасности информации;
                    </div>
                                    <div class="license-modal__description">
                        Ознакомление с имеющейся и разработка организационно-распорядительной документации, необходимой для подачи в лицензионный орган УФСБ;
                    </div>
                                    <div class="license-modal__description">
                        Приведение в соответствие к лицензионным требованиям и обеспечению режима информационной безопасности в компании;
                    </div>
                                    <div class="license-modal__description">
                        Поиск и/или привлечение квалифицированных специалистов, необходимых при осуществлении заявленных видов деятельности;
                    </div>
                                    <div class="license-modal__description">
                        Формирование комплекта документов, необходимого  для подачи на предоставление лицензии в территориальное управление ФСБ.
                    </div>
                                    <div class="license-modal__description">
                        Подготовка персонала компании соискателя лицензии к предстоящей экспертизе, проводимой сотрудниками лицензионного отдела;
                    </div>
                    <div class="license-modal__description">
                        Взаимодействие с лицензионным органом на всех этапах рассмотрения лицензионного дела.
                    </div>
                    <div class="license-modal__description">
                        Получение бланка лицензии по доверенности, подписанной заказчиком.
                    </div>
                            </div>
        </div>
    </div>
</div>



<div id="iii_docs" class="modal modalCloseOverlay">
    <div class="modal__container">
        <img class="modal__close" src="/icon/cancel.svg">
        <div class="modal__head">
            <p class="bold bold_balanced">Перечень необходимых документов для получения экспертного заключения, СЭЗ и лицензии</p>
            <!--p>{{ __scope.link.name|raw }}</p-->
        </div>
        <div class="modal__body">
            <div class="license-modal">
                <div class="license-modal__description">
                    1. Устав;
                </div>  
                <div class="license-modal__description">  
                    2. Приказ о назначении руководителя;
                </div>  
                <div class="license-modal__description">     
                    3. Свидетельство ИНН;
                </div>  
                <div class="license-modal__description">     
                    4. Свидетельство ОГРН;
                </div>  
                <div class="license-modal__description">     
                    5. Решение о создании общества;
                </div>  
                <div class="license-modal__description">     
                    6. Договор аренды на помещение;
                </div>  
                <div class="license-modal__description">     
                    7. Положение о порядке проведения производственного контроля за обеспечением радиационной безопасности;
                </div>  
                <div class="license-modal__description">     
                    8. Инструкция по радиационной безопасности;
                </div>  
                <div class="license-modal__description">     
                    9. Приказ на ответственного по радиационной безопасности;
                </div>  
                <div class="license-modal__description">      
                    10. Приказ об отнесении персонала к группе А;
                </div>  
                <div class="license-modal__description">     
                    11. Журнал регистрации инструктажа;
                </div>  
                <div class="license-modal__description">     
                    12. Документы на специалистов (диплом, удостоверение о повышении квалификации, медицинская справка);
                </div>  
                <div class="license-modal__description">     
                    13. Карточка учета доз облучения;
                </div>  
                <div class="license-modal__description">     
                    14. Договор на индивидуальный дозиметрический контроль;
                </div>  
                <div class="license-modal__description">     
                    15. Платежное поручение об оплате государственной пошлины.
                </div>
            </div>

            <p style="margin-top: 50px"><b>
                От вас потребуются только уставные и учредительные документы, а также платежное поручение об оплате госпошлины. Все остальные документы мы разработаем сами.
            </b></p>
        </div>
    </div>
</div>        


<div id="fstek_docs" class="modal modalCloseOverlay">
    <div class="modal__container">
        <img class="modal__close" src="/icon/cancel.svg">
        <div class="modal__head">
            <p class="bold bold_balanced">Документы необходимые для лицензирования</p>
            <!--p>{{ __scope.link.name|raw }}</p-->
        </div>
        <div class="modal__body">
            <div class="license-modal">
                <div class="license-modal__description">
                    заявление о предоставлении лицензии с приложением;
                </div>    
                <div class="license-modal__description">
                    копии учредительных документов;
                </div>    
                <div class="license-modal__description">    
                    копии документов, подтверждающие нахождение в штате на основном месте работы сотрудников с необходимой квалификацией;
                </div>    
                <div class="license-modal__description">    
                    копии правоустанавливающих документов на помещения, предназначенные для осуществления лицензируемого вида деятельности;
                </div>    
                <div class="license-modal__description">    
                    платежное поручение об оплате государственной пошлины;
                </div>    
                <div class="license-modal__description">    
                    копии технических паспортов и аттестатов соответствия защищаемых помещений требованиям безопасности информации;
                </div>    
                <div class="license-modal__description">     
                    копии технических паспортов автоматизированных систем, предназначенных для хранения и обработки конфиденциальной информации (с приложениями), актов классификации автоматизированных систем по требованиям безопасности информации, планов размещения основных и вспомогательных технических средств и систем, аттестатов соответствия автоматизированных систем требованиям безопасности информации или сертификатов соответствия автоматизированных систем требованиям безопасности информации, а также перечень защищаемых в автоматизированных системах ресурсов, описание технологического процесса обработки информации в автоматизированных системах;
                </div>    
                <div class="license-modal__description">    
                    копии документов, подтверждающих право соискателя лицензии на программы для электронно-вычислительных машин и базы данных, планируемые к использованию при осуществлении лицензируемого вида деятельности;
                </div>    
                <div class="license-modal__description">    
                    копии документов, содержащие сведения о наличии контрольно-измерительного, производственного и испытательного оборудования, средств защиты информации и средств контроля защищенности информации, необходимых для осуществления лицензируемого вида деятельности, а также документов, подтверждающих права соискателя лицензии на использование указанного оборудования, средств защиты информации и средств контроля защищенности информации;
                </div>    
                <div class="license-modal__description">    
                    копии документов, подтверждающие наличие на праве собственности технических документов, национальных стандартов и методических документов;
                </div>    
                <div class="license-modal__description">    
                    копии документов, подтверждающих наличие необходимой системы производственного контроля в соответствии с установленными стандартами (при выполнении работ вида 'в' - услуги по мониторингу информационной безопасности средств и систем информатизации).
                </div>
            </div>
        </div>
    </div>
</div>                

<div id="crypt_docs" class="modal modalCloseOverlay">
    <div class="modal__container">
        <img class="modal__close" src="/icon/cancel.svg">
        <div class="modal__head">
            <p class="bold bold_balanced">Документы необходимые для лицензирования</p>
            <!--p>{{ __scope.link.name|raw }}</p-->
        </div>
        <div class="modal__body">
            <div class="license-modal">
                <div class="license-modal__description">
                    заявление о предоставлении лицензии;
                </div> 
                <div class="license-modal__description">   
                    копии учредительных документов;
                </div> 
                <div class="license-modal__description">     
                    платежное поручение об оплате государственной пошлины;
                </div> 
                <div class="license-modal__description">     
                    копия договора аренды и/или свидетельства о государственной регистрации права или выписка из ЕГРН;
                </div> 
                <div class="license-modal__description">     
                    копии организационно-распорядительных документов (инструкции, приказы, положения);
                </div> 
                <div class="license-modal__description">     
                    копии документов, подтверждающие нахождение в штате на основном месте работы сотрудников с необходимой квалификацией;
                </div> 
                <div class="license-modal__description">     
                    сведения о наличии аттестованного автоматизированного рабочего места с подтверждающими документами;
                </div> 
                <div class="license-modal__description">     
                    сведения о наличии установленных на аттестованном автоматизированном рабочем месте программ с подтверждающими документами;
                </div> 
                <div class="license-modal__description">     
                    сведения о документе, подтверждающем наличие допуска к выполнению работ и оказанию, связанных с использованием сведений, составляющих государственную тайну (при выборе пунктов 1,4-6,16,19 перечня).
                </div>
            </div>
        </div>
    </div>
</div>    
