{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_sub} %}
{% include "components/services/help.twig" with {"__scope":help} %}
{% include "components/sub-services/sub-ser-licenses.twig" with {"__scope":sub_ser_licenses} %}
{% include "components/services/explanation.twig" with {"__scope":explanation} %}
{% include "components/services/feedback.twig" with {"__scope":feedback} %}
{% include "components/base/center.twig" with {"__scope":center} %}
{% include "components/base/footer.twig" with {"__scope":footer} %}
