<div class='cost-radiation'>
    <div class='row'>
        <div class='col xs-10 xs-l-1 xs-r-1 xs-center'>
            <div class='cost-radiation__container'>
                <div class='cost-radiation__title'>
                    {{ __scope.title }}
                </div>
                <div class='cost-radiation__table'>
                    <div class='cost-radiation__caption'>
                        <div class='cost-radiation__caption-name'>
                            {{ __scope.captions.name }}
                        </div>
                        <div class='cost-radiation__caption-cost'>
                            {{ __scope.captions.cost }}
                        </div>
                    </div>
                    {% for item in __scope.items %}
                        <div class='cost-radiation__text'>
                            <div class='cost-radiation__text-name'>
                                {{ item.name | raw }}
                            </div>
                            <div class='cost-radiation__text-cost'>
                                {{ item.cost | raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class='cost-radiation__reminder'>
                    {{ __scope.reminder | raw }}
                </div>
                {% if __scope.description is defined %}
                <div class='cost-radiation__description'>
                    {{ __scope.description | raw }}
                </div>
                {% endif %}
                {% if __scope.btn is defined %}
                <div class='cost-radiation__btn-wrapper'>
                    <button class='cost-radiation__btn btn btn_md btn_energ'
                            data-modal='{"name": "formDefault", "id": "form"}'>
                        {{ __scope.btn }}
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
