<div class='cost-radiation'>
    <div class='row'>
        <div class='col xs-12 xs-center'>
        <div class="row license license_reverse">
                <div class="license__image-wrapper white-block white-block_clear">
                    {% include "utils/image.twig" with {"__scope": __scope.image, "__class": "license__image"} %}
                </div>
                <div class="license__text-block-wrapper">
                    <div class="license__text-block">
                        <div class="license__title">
                            Лицензия на источники ионизирующего излучения
                        </div>
                        <!--div class="license__description">
                            Лицензия на источники ионизирующего излучения – под ключ. Лицензия на ИИИ в короткие сроки. Оформление СЭЗ для источников излучения, обучение по радиационной безопасности.
                        </div-->
                        <div class="license__list">
                            <div class="license__item">
                                <div class="license__item-title">
                                    Лицензирующий орган:
                                </div>
                                <div class="license__item-description">
                                    Федеральная служба по надзору в сфере защиты прав потребителей и благополучия человека (РОСПОТРЕБНАДЗОР)
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Срок действия лицензии:
                                </div>
                                <div class="license__item-description">
                                    бессрочно
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Территория действия:
                                </div>
                                <div class="license__item-description">
                                    Вся территория Российской Федерации
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Срок получения лицензии: 
                                </div>
                                <div class="license__item-description">
                                    45 рабочих дней
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Стоимость: 
                                </div>
                                <div class="license__item-description">
                                    от 60 000 руб.
                                </div>
                            </div>
                        </div>
                        <div class="license__proposal-block">
                            <button class="btn btn_energ btn_md license__btn"
                                    data-modal='{"name": "formDefault", "id": "form"}'>
                                Получить лицензию
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
