<div class='tender'>
    <div class='row'>
        <div class='col xs-12'>
            <div class='tender__container' style='background-image: url(../images/5x@learning_personal.jpeg);background-size: cover; background-position: center;'>
                <div class='tender__container-wrapper' style='padding: 100px;'>
                    <div class='tender__title'>
                        Обучение специалистов
                    </div>
                    <div style='color: #fff; font-size: 16px;'>
                       <p>Если у вас уже есть лицензия, но вам нужно обучить ваших специалистов , мы с радостью организуем для них курсы повышения квалификации по программам радиационной безопасности, технического обслуживания и проектирования источников ионизирующего излучения. Очно или дистанционно – как вам удобней! С подбором программы повышения квалификации Вам помогут наши специалисты.</p>
                       <p style='margin-top: 40px;'>
                            <button class='btn btn_energ btn_md'
                                    data-modal='{"name": "formDefault", "id": "form"}'>
                                Оформить заявку
                            </button>
                       </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
