<div class='consultation-bor'>
    <div class='row'>
        <div class='col xs-6'>
            <div class='consultation-bor__content'>
                <div class='consultation-bor__title'>
                    {{ __scope.title }}
                </div>
                <div class='consultation-bor__text'>
                    {{ __scope.text | raw }}
                </div>
            </div>
        </div>
        <div class='col xs-5 xs-l-1 xs-center'>
            <div class='consultation-bor__form-wrapper'>
                <div class='consultation-bor__title-form'>
                    {{ __scope.title_form }}
                </div>
                <div class='consultation-bor__form'>
                    {% include "modules/form.twig" %}
                </div>
                <!--button class='consultation-bor__btn btn btn_md btn_shadow btn_energ'>
                        {{ __scope.btn }}
                    </button>
                </div-->
                <div class='consultation-bor__description-form'>
                    {{ __scope.description_form }}
                </div>
            </div>
        </div>
    </div>
</div>
