<div class='cost-tender'>
    <div class='row'>
        <div class='col xs-12 xs-center'>
            <div class='cost-tender__container'>
                <div class='cost-tender__title'>
                    {{ __scope.title }}
                </div>
                <div class='cost-tender__buttons-wrapper'>
                    {% for button in __scope.buttons %}
                        <button class='cost-tender__button btn-sol btn-sol_md btn-sol_sm-text btn-sol_energ'>
                            {{ button.name }}
                        </button>
                    {% endfor %}
                </div>
                <div class='cost-tender__table'>
                    <div class='cost-tender__table-captions'>
                        {% for caption in __scope.captions %}
                            <div class='cost-tender__caption'>
                                {{ caption.name }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class='cost-tender__content'>
                        <div class='cost-tender__items'>
                            {% for starting in __scope.startings %}
                                <div class='cost-tender__item'>
                                    {{ starting.text }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class='cost-tender__items'>
                            {% for quarterly in __scope.quarterlys %}
                                <div class='cost-tender__item'>
                                    {{ quarterly.text }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class='cost-tender__items'>
                            {% for half in __scope.halfs %}
                                <div class='cost-tender__item'>
                                    {{ half.text }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class='cost-tender__items'>
                            {% for year in __scope.years %}
                                <div class='cost-tender__item'>
                                    {{ year.text }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class='cost-tender__btn-wrapper'>
                    <button class='cost-tender__btn btn btn_md btn_energ'
                            data-modal='{"name": "formDefault", "id": "form"}'>
                        {{ __scope.btn }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>