{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_learning} %}
{% include "modules/description.twig" with {"__scope":description_learning} %}

<div class="consultation">
    <div class="row">
        <div class="col xs-10 xs-l-1">
            <div class="consultation__content">
                <div class="consultation__title">
                    Дистанционная форма обучения бесспорно имеет ряд плюсов:
                </div>
                <div class="consultation__text" style="    text-align: justify;">
                    <span>
                        <ul class="listRomb">
                            <li>
                                обучение сотрудника проходит на его рабочем месте без отрыва от производства;
                            </li><li>
                                гибкость выбора программы и последовательности обучения;
                            </li><li>
                                весь необходимый материал по курсу усваивается в минимальные сроки.
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='tender'>
    <div class='row'>
        <div class='col xs-12'>
            <div class='tender__container' style='background-image: url(../images/5x@law.jpeg);background-size: cover; background-position: center;'>
                <div class='tender__container-wrapper' style='padding: 100px;'>
                    <div class='tender__title'>
                        Перечень организаций, осуществляющих образовательную деятельность
                    </div>
                    <div class='tender__links'>
                        <ul>
                            <li style='font-size: 18px; line-height: 26px;'>
                                <a class='tender__link link link_light' target='_blank' href='https://fstec.ru/tekhnicheskaya-zashchita-informatsii/obuchenie-spetsialistov/12-perechen-obrazovatelnykh-uchrezhdenij?highlight=WyJcdTA0M2ZcdTA0NDBcdTA0M2VcdTA0MzNcdTA0NDBcdTA0MzBcdTA0M2NcdTA0M2NcdTA0MzAiLCJcdTA0M2VcdTA0MzFcdTA0NDNcdTA0NDdcdTA0MzVcdTA0M2RcdTA0MzhcdTA0NGYiLCJcdTA0M2ZcdTA0NDBcdTA0M2VcdTA0MzNcdTA0NDBcdTA0MzBcdTA0M2NcdTA0M2NcdTA0MzAgXHUwNDNlXHUwNDMxXHUwNDQzXHUwNDQ3XHUwNDM1XHUwNDNkXHUwNDM4XHUwNDRmIl0'>
                                    ФСТЭК – Перечень организаций, осуществляющих образовательную деятельность, имеющих дополнительные профессиональные программы в области информационной безопасности, согласованные с Федеральной службой по техническому и экспортному контролю 
                                </a>
                            </li>
                            <li style='margin-top: 20px; font-size: 18px; line-height: 26px;'>
                                <a class='tender__link link link_light' target='_blank' href='http://www.isedu.ru/documents.dopprof/index.htm'>
                                    ФСБ – Перечень организаций, осуществляющих образовательную деятельность, имеющих дополнительный профессиональные программы в области информационной безопасности, согласованные с Федеральной службой безопасности 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="consultation">
    <div class="row">
        <div class="col xs-10 xs-l-1">
            <div class="consultation__content">
                <div class="consultation__title">
                    Рекомендуемые программы обучения:
                </div>
                <div class="consultation__text" style="    text-align: justify;">
                    <span>
                        <ul class="listRomb">
                            <li>
                                1. Профессиональная переподготовка «Комплексное обеспечение информационной безопасности автоматизированных систем. Криптографические средства и методы защиты информации» (согласовано ФСБ РФ и ФСТЭК РФ) в объеме 560 часов.
                            </li><li>2. Профессиональная переподготовка «Техническая защита информации ограниченного доступа, не содержащей сведения, составляющие государственную тайну» направление «Информационная безопасность» (согласовано ФСТЭК РФ) в объеме 606 часов.
                            </li><li>3. Профессиональная переподготовка «Комплексное обеспечение информационной безопасности автоматизированных систем. Криптографические средства и методы защиты информации» направление «Информационная безопасность» (согласовано ФСБ РФ) в объеме 560 часов.
                            </li><li>4. Повышение квалификации «Техническая защита информации ограниченного доступа, не содержащей сведения, составляющие государственную тайну» направления «Информационная безопасность» (согласовано ФСТЭК РФ) в объеме 470 часов.
                            </li><li>5. Повышение квалификации «Способы и средства защиты информации от несанкционированного доступа» направления «Информационная безопасность» (Согласовано ФСТЭК РФ) в объеме 108 часов.
                            </li><li>6. Повышение квалификации «Организация защиты информации ограниченного доступа, не содержащей сведения, составляющие государственную тайну» направления «Информационная безопасность» (Согласовано ФСТЭК РФ) в объеме 108 часов 
                            </li><li>7. Повышение квалификации «Комплексное обеспечение информационной безопасности автоматизированных систем. Криптографические средства и методы защиты информации» направление «Информационная безопасность» в объеме 108 часов
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "components/services/feedback.twig" with {"__scope":feedback_two} %}
{% include "components/base/center.twig" with {"__scope":center} %}
{% include "components/base/footer.twig" with {"__scope":footer} %}