{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_fsb_crpt} %}

<div style="margin-top: 60px;">
{% include "modules/description.twig" with {"__scope":description_fsb_crpt} %}
</div>

<div style="margin-top: 80px;">
{% include "components/fsb-gos/consultation.twig" with {"__scope":calc_tzki} %}
</div>
{% include "components/fsb-gos/consultation.twig" with {"__scope":calc_szki} %}

{% include "components/services/criterion.twig" with {"__scope":criterion} %}


{# include "components/fsb-crpt/consult-crpt.twig" with {"__scope":consultation_fsb_crpt} #}
{# include "components/fsb-crpt/cost-fsb-crpt.twig" with {"__scope":cost_fsb_crpt} #}
{# include "components/radiation/cost-radiation.twig" with {"__scope":specification_fsb_crpt} #}
<!--div style='margin-top: 160px;'-->
{# include "components/fsb-gos/info.twig" with {"__scope":info_fsb_crpt} #}
<!--/div-->

<div class='cost-radiation'>
    <div class='row'>
        <div class='col xs-12 xs-center'>
        <div class="row license license_reverse">
                <div class="license__image-wrapper white-block white-block_clear">
                    <img src='/images/5x@fsb-crpt.png' class="license__image">
                </div>
                <div class="license__text-block-wrapper">
                    <div class="license__text-block">
                        <div class="license__title">
                            Лицензия ФСТЭК
                        </div>
                        <!--div class="license__description">
                            Лицензия на источники ионизирующего излучения – под ключ. Лицензия на ИИИ в короткие сроки. Оформление СЭЗ для источников излучения, обучение по радиационной безопасности.
                        </div-->
                        <div class="license__list">
                            <div class="license__item">
                                <div class="license__item-title">
                                    Лицензирующий орган:
                                </div>
                                <div class="license__item-description">
                                    Федеральная служба по техническому и экспортному контролю
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Срок действия лицензии:
                                </div>
                                <div class="license__item-description">
                                    бессрочно
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Территория действия:
                                </div>
                                <div class="license__item-description">
                                    Вся территория Российской Федерации
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Срок получения лицензии: 
                                </div>
                                <div class="license__item-description">
                                    45 рабочих дней
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Стоимость: 
                                </div>
                                <div class="license__item-description">
                                    от 150 000 руб.
                                </div>
                            </div>
                        </div>
                        <div class="license__proposal-block">
                            <button class="btn btn_energ btn_md license__btn"
                                    data-modal='{"name": "formDefault", "id": "form"}'>
                                Получить лицензию
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="background: url(../images/5x@background-slider.png);" style='margin-top: 120px'>
    <div class='tender tender_noImg blockFullWidth' style="background-image: linear-gradient(180deg, rgba(9, 95, 123, 0.7) 0%, rgba(15, 43, 82, 0.7) 100%);">
        <div class='row'>
            <div class='col xs-12'>
                <div class='tender__container'>
                    <div class='tender__container-wrapper' style='padding: 100px;'>
                        <div class='tender__title'>
                            Законодательная база
                        </div>
                        <div class='tender__links'>
                            <ul>
                                <li style='font-size: 18px; line-height: 26px;'>
                                    <a class='tender__link link link_light' target='_blank' href='/files/PP_541.pdf'>
                                        Постановление правительства от 15.06.2016 г. № 541 "О внесении изменений в некоторые акты правительства Российской Федерации
    по вопросам лицензирования отдельных видов деятельности"
                                    </a>
                                </li>
                                <li style='font-size: 18px; line-height: 26px; margin-top: 20px;'>
                                    <a class='tender__link link link_light' target='_blank' href='/files/fstek/79_postanovlenie.pdf'>
                                        Постановления Правительства от 03.02.2012 г. № 79  "О
    лицензировании деятельности по технической защите
    конфедициальной информации"
                                    </a>
                                </li>
                                <li style='font-size: 18px; line-height: 26px; margin-top: 20px;'>
                                    <a class='tender__link link link_light' target='_blank' href='/files/fstek/postanovlenie_N_171.pdf'>
                                        Постановления Правительства от 03.03.2012 г. № 171 "О лицензировании деятельности по разработке и производству средств защиты
    конфиденциальной информации"
                                    </a>
                                </li>

                                <li style='font-size: 18px; line-height: 26px; margin-top: 20px;'>
                                    <a class='tender__link link link_light' target='_blank' href='/files/fstek/zakon_N_99.pdf'>
                                        Федеральный закон от 4 мая 2011 г. N 99-ФЗ "О лицензировании отдельных видов деятельности"
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--div style="margin-top: 120px;">
    {% include "components/services/feedback.twig" with {"__scope":feedback_two} %}
</div-->

<!--div style="margin-top: 120px;">
    {% include "components/fsb-gos/info.twig" with {"__scope":info_docs} %}
</div-->

<div style="margin-top: 120px;">
    {% include "components/fsb-gos/info.twig" with {"__scope":info_attestation} %}
</div>

<div style="margin-top: 120px;">
    {% include "components/fsb-gos/info.twig" with {"__scope":info_search} %}
</div>

<div style="margin-top: 120px;">
    {% include "components/fsb-gos/info.twig" with {"__scope":info_learning} %}
</div>

{# include "components/services/explanation.twig" with {"__scope":explanation_fsb_crpt} #}

<!--div class="reasons">
    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title"  style='padding-bottom: 40px; border-bottom: 1px dashed #ccc;'>
                Как получить лицензии ФСТЭК?
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>
                    Необходимость в получении лицензий ФСТЭК России, на деятельность по технической защите конфиденциальной информации и на деятельность по разработке и производству средств защиты конфиденциальной информации возникает, если организация планирует осуществлять деятельность (предоставлять услуги), подпадающие под действие Положений о лицензировании, утвержденных в новой редакции <a href='/files/PP_541.pdf'>Постановления Правительства от 15.06.2016 г. № 541</a>.
                </span>
                <span>
                    Данное Постановление определяет новый порядок лицензирования для соискателей лицензий и требования к лицензиатам ФСТЭК. 
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title">
                ЧТО НОВОГО?
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>
                Лицензии стали бессрочными с момента вступления в законную силу <a href='/files/fstek/79_postanovlenie.pdf'>Постановления Правительства от 03.02.2012 г. № 79</a> и <a href='/files/fstek/postanovlenie_N_171.pdf'>Постановления Правительства от 03.03.2012 г. № 171</a>, утвержденные Положениями о лицензировании деятельности по технической защите конфиденциальной информации и деятельности по разработке и производству средств защиты конфиденциальной информации, что в большей степени является преимуществом для соискателей лицензии. Теперь не придется переоформлять лицензии через каждые 5 лет.
                </span>
            </div>
        </div>    
    </div>

    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title">
                Когда может потребоваться переоформление лицензии ФСТЭК?
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                Переоформление потребуется только в случае смены адреса местонахождения и/или адреса места осуществления деятельности, формы собственности или реорганизации, а также при намерении выполнять новые работы и оказывать новые услуги.
            </div>
        </div>    
    </div>


    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title">
                Новые требования к персоналу при лицензировании
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>Со вступлением в законную силу обновленных требований, соискатели лицензии столкнулись с тем, что помимо профессиональной квалификации стало необходимо подтверждать и стаж работы персонала в области проводимых работ по лицензируемому виду деятельности.</span>
                <span>
                    HR-специалисты компании «Проф Лайн Консалтинг» проведут <a href='/personal/search'>подбор, проверку и предоставление необходимого квалифицированного персонала</a>, необходимого для участия в лицензировании.
                </span>
                <span>
                    Но бывают моменты, когда лицензионный стаж у сотрудников соискателя есть, а соответствующей квалификации - высшего профильного образования или курсов профессиональной переподготовки по Информационной безопасности – нет. В подобных случаях, наша компания предлагает <a href='/personal/learning'>услуги по организации дистанционного обучения</a> ваших сотрудников по согласованным с ФСБ и ФСТЭК программам обучения. После успешного завершения обучения выдается диплом о профессиональной переподготовке установленного образца (либо удостоверение о повышении квалификации).
                </span>
            </div>
        </div>    
    </div>


    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title">
                Изменение требований к КИО
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>ФСТЭК обновил перечень контрольно-измерительного и испытательного оборудования (КИО), программных (программно-технических) средств, необходимых для выполнения работ и оказания услуг, установленных Положением о лицензировании деятельности по разработке и производству средств защиты конфиденциальной информации, утвержденного <a href='/files/fstek/postanovlenie_N_171.pdf'>постановлением Правительства Российской Федерации от 03.03.2012 г. № 171</a>.</span>
                <span>
                    В случае нерационального подхода, со стороны соискателей лицензии к вопросу выбора необходимого комплекта КИО, можно существенно потерять, как время, так и деньги.
                </span>
                <span>
                    Узнать об актуальном перечне КИО, необходимого для получения лицензии ФСТЭК на деятельность по технической защите конфиденциальной информации и лицензии ФСТЭК на деятельность по разработке и производству средств защиты конфиденциальной информации, можно у наших специалистов, которые индивидуально подберут и сформируют для вас самое выгодное предложение по <a href='/attestation/kio'>поставке контрольно-измерительного оборудования</a>.
                </span>
            </div>
        </div>    
    </div>


    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title">
                Что осталось по-старому?
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>Единственной неизменной составляющей при лицензировании, остается требование о наличии в собственности у соискателя лицензий ФСТЭК, аттестованных объектов информатизации. </span>
                <span>
                    <a href='/attestation/apm'>Аттестация автоматизированного рабочего места (АРМ)<a> и <a href='/attestation/zp'>аттестация защищаемого помещения (ЗП)</a>, являются обязательной процедурой.
                </span>
                <span>
                    <a href='/attestation/apm'>Аттестация</a> - это процедура подтверждения соответствия требуемому уровню безопасности информации конфиденциального характера. Под аттестацией объектов информатизации, требованием по безопасности информации, понимается перечень организационных и технических мероприятий проводимых в соответствии с требованиями руководящих документов ФСТЭК России.
                </span>
                <span>
                    Результатом проведения аттестационных испытаний объектов информатизации, является выдача заявителю «Аттестата соответствия по требованиям безопасности информации».
                </span>
                <span>
                    <b>«Проф Лайн Консалтинг»</b> предлагает свои услуги по проведению аттестационных испытаний объектов информатизации любой сложности и в любых регионах Российской Федерации. 
                </span>
            </div>
        </div>    
    </div>


    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title">
               Рекомендации
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>
                    Мы рекомендуем соискателям лицензий ФСТЭК, заблаговременно позаботиться о прохождении обучения, по согласованным с лицензирующим органом  программам, профессиональной переподготовки по одной из специальностей в области информационной безопасности, со сроком обучения не менее 360 аудиторных часов, чтобы к моменту возможной выездной проверки, ваша компания полностью соответствовала лицензионным требованиям. <a href='/personal/learning'>Обращайтесь к нашим специалистам по обучению, и мы, исходя из ваших пожеланий, предложим все возможные варианты, по самым низким ценам.</a>
                </span>
            </div>
        </div>    
    </div>
</div-->

<div style="margin-top: 120px;">
{% include "components/services/feedback.twig" with {"__scope":feedback_two} %}
</div>
{% include "components/base/center.twig" with {"__scope":center} %}
{% include "components/base/footer.twig" with {"__scope":footer} %}
