<div class='consultation'>
    {% set indent_two = 'xs-l-1' %}

    {% if __scope.position is defined %}
        {% set position = 'row_reverse' %}
        {% set indent_one = 'xs-l-1' %}
        {% set indent_two = '' %}
    {% endif %}

    <div class='row {{ position }}'>
        {% set col_1 = 'xs-l-1' %}
        {% set col_2 = '' %}
        {% if __scope.answer is defined %}
            {% set col_1 = '' %}

            {% set col_2 = 'xs-l-1 ' %}
            {% if __scope.position is defined %}
                {% set col_2 = '' %}
            {% endif %}
        {% endif %}



        <div class='col xs-5 {{ col_1 }} {{ indent_one }}'>
            <div class='consultation__content'>
                <div class='consultation__title'>
                    {{ __scope.title }}
                </div>
                <div class='consultation__text' style='    text-align: justify;'>
                    {{ __scope.text | raw }}
                </div>
            </div>
        </div>
        {% if __scope.answer == undefined %}
        <div class='col xs-6 xs-center'>
            <div class='consultation__form-wrapper'>
                <div class='consultation__title-form'>
                    {{ __scope.title_form }}
                </div>
                <div class='consultation__form'>
                    {% include "modules/form.twig" %}
                </div>
                <!--div class='consultation__btn-wrapper'>
                    <button class='consultation__btn btn btn_md btn_shadow btn_energ'>
                        {{ __scope.btn }}
                    </button>
                </div-->
                <div class='consultation__description-form' style='width: 100%; margin-top: 40px;'>
                    {{ __scope.description_form }}
                </div>
            </div>
        </div>
        {% endif %}

        {% if __scope.answer is defined %}
        <div class='col xs-6 {{ col_2 }} xs-center'>
            {% include "components/answer.twig" with {"__scope": __scope} %}
        </div>
        {% endif %}
    </div>
    {% if __scope.answer == undefined %}
    <div class='consultation__container'>
        <div class='row'>
            <div class='col xs-5 xs-l-1'>
                <div class='consultation__link-wrapper'>
                    <a class='consultation__link link' target='_blank' href='{{ __scope.link.link }}'>
                        {{ __scope.link.name }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
