{% set indent_two = 'xs-l-1' %}

{% if __scope.position is defined %}
    {% set position = 'row_reverse' %}
    {% set indent_one = 'xs-l-1' %}
    {% set indent_two = '' %}
{% endif %}

<div class='info info_shadow'>
    <div class='row {{ position }}'>
        <div class='col xs-6 {{ indent_one }}'>
            {% if __scope.image == undefined %}
                <div class='info__back-img'>
                    <div class='info__back-img-wrapper'></div>
                </div>
            {% else %}
                {% set img_position = '' %}
                {% if __scope.image.position is defined %}
                    {% set img_position = 'background-position: ' ~ __scope.image.position ~ ' center' %}
                {% endif %}
                <div class='info__any-image' style='background-image: url({{__scope.image.base}}5x@{{__scope.image.file}});{{img_position}};     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;'>
                    {# include 'utils/image.twig' with {'__scope': __scope.image, '__img_size': __scope.img_size, '__class': ""} #}
                </div>
            {% endif %}
        </div>
        <div class='col xs-5 {{ indent_two }}'>
            <div class='info__content'>
                <div class='info__title'>
                    {{ __scope.title }}
                </div>
                <div class='info__text'>
                    {{ __scope.text | raw }}
                </div>

                {% if __scope.text_sub is defined %}
                <div class='info__text-sub'>
                    {{ __scope.text_sub | raw }}
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>