{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_kio} %}

<div class="consultation">
    <div class="row">
        <div class="col xs-10 xs-l-1">
            <div class="consultation__content">
                <div class="consultation__title">
                   «ПрофЛайнКонсалтинг» предлагает свои услуги по подбору и поставке контрольно-измерительного оборудования, необходимого для получения следующих лицензий:
                </div>
                <div class="consultation__text" style="    text-align: justify;">
                    <span>
                        <ul class="listRomb">
                            <li>
                                Лицензия ФСТЭК России на деятельность по технической защите конфиденциальной информации (ТЗКИ);
                            </li><li>Лицензия ФСБ или ФСТЭК России на деятельность по разработке и (или) производству средств защиты конфиденциальной информации (СЗКИ);
                            </li><li>Лицензия ФСТЭК России на осуществление мероприятий и (или) оказание услуг в области защиты государственной тайны (в части технической защиты информации (ТЗИ));
                            </li><li>Лицензия ФСТЭК России на осуществление мероприятий и (или) оказание услуг в области защиты государственной тайны (в части противодействия иностранным техническим разведкам (ПДИТР));
                            </li><li>Лицензия ФСТЭК России на проведение работ, связанных с созданием средств защиты информации (СЗИ);
                            </li><li>Лицензия ФСБ России на деятельность по разработке, производству, техническому обслуживанию и распространению криптографических средств защиты информации;
                            </li><li>Лицензия УФСБ России на осуществление мероприятий и (или) оказание услуг в области защиты государственной тайны (только для юридических лиц);
                            </li><li>Лицензия УФСБ России на деятельность, связанная с созданием средств защиты информации, содержащей сведения, составляющие государственную тайну (только для юридических лиц).
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="consultation">
    <div class="row">
        <div class="col xs-10 xs-l-1">
            <div class="consultation__content">
                <div class="consultation__title">
                    Преимущества взаимодействия с «ПрофЛайнКонсалтинг» по вопросам приобретения контрольно-измерительного оборудования являются:
                </div>
                <div class="consultation__text" style="    text-align: justify;">
                    <span>
                        <ul class="listRomb">
                            <li>
                                Подбор необходимых контрольно-измерительных приборов
                            </li><li>Работа с одним юридическим лицом.
                            </li><li>Поставка оборудования точно в срок по всей территории РФ;
                            </li><li>Приобретение оборудования с хранения, даёт возможность сразу пройти обязательную ежегодную процедуру метрологической экспертизы (сертификаты о поверке и калибровке);
                            </li><li>Поставка исключительно проверенного, качественного оборудования.
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "components/services/feedback.twig" with {"__scope":feedback_two} %}
{% include "components/base/center.twig" with {"__scope":center} %}
{% include "components/base/footer.twig" with {"__scope":footer} %}