{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_fsb_gos} %}
{% include "modules/description.twig" with {"__scope":description_fsb_gos} %}

<div style="margin-top: 80px;">
{% include "components/fsb-gos/consultation.twig" with {"__scope":calc_fsb} %}
</div>

{# include "components/fsb-gos/consultation.twig" with {"__scope":consultation} #}
{% include "components/services/criterion.twig" with {"__scope":criterion} %}

<div class='cost-radiation'>
    <div class='row'>
        <div class='col xs-12 xs-center'>
        <div class="row license license_reverse">
                <div class="license__image-wrapper white-block white-block_clear">
                    <img src='/images/fsb/5x@fsb_crpt.jpeg' class="license__image">
                </div>
                <div class="license__text-block-wrapper">
                    <div class="license__text-block">
                        <div class="license__title">
                            Лицензия ФСБ
                        </div>
                        <!--div class="license__description">
                            Лицензия на источники ионизирующего излучения – под ключ. Лицензия на ИИИ в короткие сроки. Оформление СЭЗ для источников излучения, обучение по радиационной безопасности.
                        </div-->
                        <div class="license__list">
                            <div class="license__item">
                                <div class="license__item-title">
                                    Лицензирующий орган:
                                </div>
                                <div class="license__item-description">
                                    Федеральная служба безопасности
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Срок действия лицензии:
                                </div>
                                <div class="license__item-description">
                                    бессрочно
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Территория действия:
                                </div>
                                <div class="license__item-description">
                                    Вся территория Российской Федерации
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Срок получения лицензии: 
                                </div>
                                <div class="license__item-description">
                                    от 2-х месяцев
                                </div>
                            </div>
                            <div class="license__item">
                                <div class="license__item-title">
                                    Стоимость: 
                                </div>
                                <div class="license__item-description">
                                    от 100 000 руб.
                                </div>
                            </div>
                        </div>
                        <div class="license__proposal-block">
                            <button class="btn btn_energ btn_md license__btn"
                                    data-modal='{"name": "formDefault", "id": "form"}'>
                                Получить лицензию
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div style="background: url(../images/5x@background-slider.png); margin-top: 120px">
    <div class='tender tender_noImg blockFullWidth' style="background-image: linear-gradient(180deg, rgba(9, 95, 123, 0.7) 0%, rgba(15, 43, 82, 0.7) 100%);">
        <div class='row'>
            <div class='col xs-12'>
                <div class='tender__container'>
                    <div class='tender__container-wrapper' style='padding: 100px;'>
                        <div class='tender__title'>
                            Законодательная база
                        </div>
                        <div class='tender__links'>
                            <ul>
                                <li style='font-size: 18px; line-height: 26px; margin-top: 20px;'>
                                    <a class='tender__link link link_light' target='_blank' href='/files/fstek/postanovlenie_313_fsb.pdf'>
                                        Постановление Правительства РФ от 16 апреля 2012 г. No 313 "Об утверждении Положения о лицензировании деятельности по разработке, производству, распространению шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств (за исключением случая, если техническое обслуживание шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, осуществляется для обеспечения собственных нужд юридического лица или индивидуального предпринимателя)"
                                    </a>
                                </li>

                                <li style='font-size: 18px; line-height: 26px; margin-top: 20px;'>
                                    <a class='tender__link link link_light' target='_blank' href='/files/fstek/zakon_N_99.pdf'>
                                        Федеральный закон от 4 мая 2011 г. N 99-ФЗ "О лицензировании отдельных видов деятельности"
                                    </a>
                                </li>
                                <!--li style='font-size: 18px; line-height: 26px;'>
                                    <a class='tender__link link link_light' target='_blank' href='/files/PP_541.pdf'>
                                        Постановление правительства от 15.06.2016 г. № 541 "О внесении изменений в некоторые акты правительства Российской Федерации
    по вопросам лицензирования отдельных видов деятельности"
                                    </a>
                                </li>
                                <li style='font-size: 18px; line-height: 26px; margin-top: 20px;'>
                                    <a class='tender__link link link_light' target='_blank' href='/files/fstek/79_postanovlenie.pdf'>
                                        Постановления Правительства от 03.02.2012 г. № 79  "О
    лицензировании деятельности по технической защите
    конфедициальной информации"
                                    </a>
                                </li>
                                <li style='font-size: 18px; line-height: 26px; margin-top: 20px;'>
                                    <a class='tender__link link link_light' target='_blank' href='/files/fstek/postanovlenie_N_171.pdf'>
                                        Постановления Правительства от 03.03.2012 г. № 171 "О лицензировании деятельности по разработке и производству средств защиты
    конфиденциальной информации"
                                    </a>
                                </li-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--div style="margin-top: 120px;">
    {% include "components/fsb-gos/info.twig" with {"__scope":info_docs} %}
</div-->

<div style="margin-top: 120px;">
    {% include "components/fsb-gos/info.twig" with {"__scope":info_attestation} %}
</div>

<div style="margin-top: 120px;">
    {% include "components/fsb-gos/info.twig" with {"__scope":info_search} %}
</div>

<!--div style="margin-top: 120px;">
    {% include "components/fsb-gos/info.twig" with {"__scope":info_learning} %}
</div-->

{# include "components/services/explanation.twig" with {"__scope":explanation_fsb_gos} #}

<!--div class="reasons">
    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title" style='padding-bottom: 40px; border-bottom: 1px dashed #ccc;'>
                Как получить лицензию ФСБ на криптографию?
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>
                    С момента вступления в законную силу <a href='/files/postanovlenie_N_313.doc'>Постановления Правительства от 16.04.2012 г. № 313</a>, утвержденного Положением о лицензировании деятельности, связанной с шифровальными (криптографическими) средствами, Лицензия стала бессрочной. Теперь нет необходимости в проведении процедуры переоформления лицензии каждые 5 лет. Это определенно положительная новость для соискателей лицензий. 
                </span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title" >
                Когда может потребоваться переоформление лицензии ФСБ?
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>
                    Переоформление потребуется только в случае смены адреса местонахождения и/или адреса места осуществления деятельности, формы собственности или реорганизации, а также при намерении выполнять новые работы и оказывать новые услуги.
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title" >
                Основные проблемы лицензирования
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>
                    Основной проблемой при самостоятельном получении соискателями лицензии ФСБ на деятельность, связанную с шифровальными (криптографическими) средствами, является непонимание самого процесса лицензирования и отсутствие квалифицированного персонала, необходимого для лицензирования.
                </span>
                <span>
                    Обратившись в компанию <b>«Проф Лайн Консалтинг»</b> Вы получаете грамотное и профессиональное сопровождение по всему процессу лицензирования, что существенно сократит, как время на реализацию поставленной задачи, так и общие затраты. HR-специалисты нашей компании <a href='/personal/search'>предоставляют услуги по подбору и предоставлению необходимого квалифицированного персонала</a> в штат, на основное место работы, удовлетворяющего требованиям лицензирующего органа, в установленные договором сроки. А в случае, когда у персонала имеется подтвержденный лицензионный стаж, но нет профильного образования по Информационной безопасности, мы предлагаем <a href='/personal/learning'>услуги по организации дистанционного обучения (ссылка на раздел)</a> ваших сотрудников. Обучение проходит по согласованным с ФСБ и ФСТЭК программам обучения. После успешного завершения обучения, выдается диплом о профессиональной переподготовке установленного образца (либо удостоверение о повышении квалификации).
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title" >
                Что осталось по-старому?
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>
                    Единственной неизменной составляющей при лицензировании, остается требование о наличии в собственности у соискателя лицензий ФСБ, <a href='/attestation/apm'>аттестованной автоматизированной системы</a>. 
                </span>
                <span>
                    <a href='/attestation/apm'>Аттестация автоматизированного рабочего места (АРМ), является не обязательной процедурой при выборе следующих видов деятельности: 21, 22, 23, 24.</a>
                </span>
                <span>
                    <a href='/attestation/apm'>Аттестация</a> - это процедура подтверждения соответствия требуемому уровню безопасности информации конфиденциального характера. Под аттестацией объекта информатизации, требованием по безопасности информации, понимается перечень организационных и технических мероприятий, проводимых в соответствии с требованиями руководящих документов ФСТЭК России. 
                </span>
                <span>
                    Результатом проведения аттестационных испытаний объектов информатизации, является выдача заявителю «Аттестата соответствия по требованиям безопасности информации». 
                </span>
                <span>
                    Компания <b>«Проф Лайн Консалтинг»</b> предлагает свои услуги по проведению аттестационных испытаний объектов информатизации любой сложности, в любых регионах Российской Федерации. 
                </span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title" >
                Рекомендации
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>
                    Мы рекомендуем, соискателям лицензий ФСБ, заблаговременно позаботиться о прохождении курсов переподготовки по Информационной безопасности (свыше 500 часов), чтобы к моменту возможной выездной проверки, ваша компания полностью соответствовала лицензионным требованиям. <a href='/personal/learning'>Обращайтесь к нашим специалистам по обучению, и мы, исходя из ваших пожеланий, предложим все возможные варианты по самым низким ценам.</a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col xs-10 xs-center xs-l-1">
            <div class="reasons__title" >
                Эпилог
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1">
            <div class="reasons__text">
                <span>
                    Специалисты компании <b>«Проф Лайн Консалтинг»</b> оказывают консультации своим заказчикам на любом этапе процесса получения лицензий, вне зависимости от компетенции сотрудников, ответственных за лицензирование, и территориального месторасположения соискателя. 
                </span>
            </div>
        </div>
    </div>
</div-->    

<div style="margin-top: 120px;">
{% include "components/services/feedback.twig" with {"__scope":feedback_two} %}
</div>
{% include "components/base/center.twig" with {"__scope":center} %}
{% include "components/base/footer.twig" with {"__scope":footer} %}
