{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_sro} %}
<div style='margin-top: 60px;'>
    {% include "components/base/amenities.twig" with {"__scope":description_sro} %}
</div>
{% include "components/services/criterion.twig" with {"__scope":criterion} %}
{% include "components/fsb-gos/consultation.twig" with {"__scope":consultation_sro} %}

<div style='margin-top: 60px;'>
    <div class='amenities'>
        <div class='row'>
            <div class='col xs-8 xs-l-2'>
                <div class='amenities__container'>
                    <div class='amenities__text' style='margin-bottom: 40px; text-align: center; font-size: 18px; line-height: 22px;'>
                        Если вы не планируете вступать в СРО, но вам нужна помощь во внесении ваших специалистов в реестр НОСТРОЙ/НОПРИЗ или помощь в подборе, подходящих по требованиям специалистов для вашей организации, наши сотрудники смогут провести аудит ваших специалистов на соответствие требования и предложить верное решение для Вас. 
                    </div>
                    <button class='btn btn_md btn_energ'
                            data-modal='{"name": "formDefault", "id": "form"}'>
                        Получить бесплатную консультацию
                    </button>
                </div>
            </div>
        </div> 
    </div>
</div>

<div style='margin-top: 60px;'>
{# include "components/sro/cost-sro.twig" with {"__scope":cost_sro} #}

<div class="cost-sro">
    <div class="row">
        <div class="col xs-10 xs-l-1 xs-r-1 xs-center">
            <div class="cost-sro__container">
                <div class="cost-sro__title">
                    Стоимость вступления в СРО
                </div>
            </div>
        </div>
    </div>        
    <div class="row"> 
        <div class='col xs-4'>
            <div class='sroCard'>
                <div class='sroCard__imgWrapper'>
                    <div style='background-image: url(/images/sro/5x@stroy.jpeg)' class='sroCard__img'>
                    </div>
                </div>
                <div class='sroCard__textContainer'>
                    <div class='sroCard__title'>
                        СРО Строителей
                    </div>
                    <div class='sroCard__price'>
                        От 105 000 руб. 
                    </div>
                    <div class='sroCard__button'>
                        <button class='sroCard__btn btn btn_energ'
                            data-modal='{"name": "formDefault", "id": "form"}'>
                            Рассчитать стоимость вступления
                        </button>   
                    </div>
                </div>    
            </div>
        </div>

        <div class='col xs-4'>
            <div class='sroCard'>
                <div class='sroCard__imgWrapper'>
                    <div style='background-image: url(/images/sro/5x@proect.jpeg)' class='sroCard__img'>
                    </div>
                </div>
                <div class='sroCard__textContainer'>
                    <div class='sroCard__title'>
                        СРО Проектировщиков
                    </div>
                    <div class='sroCard__price'>
                        От 55 000 руб. 
                    </div>
                    <div class='sroCard__button'>
                        <button class='sroCard__btn btn btn_energ'
                            data-modal='{"name": "formDefault", "id": "form"}'>
                            Рассчитать стоимость вступления
                        </button>   
                    </div>
                </div>
            </div>
        </div>

        <div class='col xs-4'>
            <div class='sroCard'>
                <div class='sroCard__imgWrapper'>
                    <div style='background-image: url(/images/sro/5x@izisk.jpeg)' class='sroCard__img'>
                    </div>
                </div>
                <div class='sroCard__textContainer'>
                    <div class='sroCard__title'>
                        СРО Изыскателей
                    </div>
                    <div class='sroCard__price'>
                        От 55 000 руб. 
                    </div>
                    <div class='sroCard__button'>
                        <button class='sroCard__btn btn btn_energ'
                            data-modal='{"name": "formDefault", "id": "form"}'>
                            Рассчитать стоимость вступления
                        </button>   
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>


<div class='feedback' style='margin-top: 120px;'>
    <div class='feedback__wrapper'>
        {# include "components/fsb-gos/info.twig" with {"__scope":info_sro} #}
        <div class="info">
            <div class="row ">
                <div class="col xs-6 ">
                    <div class="info__any-image" style="background: url(/images/sro/5x@docs.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;">
                        <!--img class="" alt="Описание изображения" src="/images/sro/5x@docs.png"-->
                    </div>
                </div>
                <div class="col xs-5 xs-l-1 xs-middle">
                    <div class="info__content">
                        <div class="info__title" style='color: #fff; border-left: 6px solid #ffc400;padding-left: 30px;'>
                            Какие документы Вам нужно будет предоставить:
                        </div>
                        <div class="info__text"  style='    color: #fff;'>
                            <ul class="listRomb listRomb_white"><li>Карточка организации (реквизиты)</li><li>Устав</li><li>ИНН</li><li>ОГРН</li><li>Приказ о назначении руководителя</li><li>Решение о создании общества</li></ul><span style="margin-top: 30px; font-style: italic;">Все остальные документы разработают и подготовят наши специалисты.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style='margin-top: 120px;'>
    {% include "components/services/criterion.twig" with {"__scope": info_sro_2} %}
</div>

{% include "components/services/feedback.twig" with {"__scope":feedback} %}


<div>
    <div class="row xs-center">
        <div class="xs-12 xs-center">
            <div class="reasons__title">
                Вам также могут потребоваться
            </div>
        </div>
    </div>

    <div class="row xs-center">
        <div class="xs-4 xs-center">
            <div class="what">
                <a href="/files/sro/licenses/minkult.pdf" target="_blank" class="what__img-wrapper">
                    <img class="what__img" alt="Описание изображения" src="/images/sro/5x@minkult_thumb.png">
                </a>
                <div class="what__link-wrapper">
                    <a href="/files/sro/licenses/minkult.pdf" target="_blank" class="what__link link">
                        Лицензия Министерства культуры
                    </a>   
                </div>     
            </div>
        </div>

        <div class="xs-4 xs-center">
            <div class="what">
                <a href="/files/sro/licenses/mchs.pdf" target="_blank" class="what__img-wrapper">
                    <img class="what__img" alt="Описание изображения" src="/images/sro/5x@mchs_thumb.png">
                </a>
                <div class="what__link-wrapper">
                    <a href="/files/sro/licenses/mchs.pdf" target="_blank" class="what__link link">
                        Лицензия МЧС
                    </a>   
                </div>     
            </div>
        </div>

        <div class="xs-4 xs-center">
            <div class="what">
                <a href="/files/sro/licenses/fsb.pdf" target="_blank" class="what__img-wrapper">
                    <img class="what__img" alt="Описание изображения" src="/images/sro/5x@fsb_thumb.png">
                </a>
                <div class="what__link-wrapper">
                    <a href="/files/sro/licenses/fsb.pdf" target="_blank" class="what__link link">
                        Лицензия ФСБ
                    </a>   
                </div>     
            </div>
        </div>

        <div class="xs-4 xs-center">
            <div class="what">
                <a href="/files/sro/licenses/electro.pdf" target="_blank" class="what__img-wrapper">
                    <img class="what__img" alt="Описание изображения" src="/images/sro/5x@electro_thumb.png">
                </a>
                <div class="what__link-wrapper">
                    <a href="/files/sro/licenses/electro.pdf" target="_blank" class="what__link link">
                        Свидетельство о регистрации электролаборатории
                    </a>   
                </div>     
            </div>
        </div>

        <div class="xs-4 xs-center">
            <div class="what">
                <a href="/files/sro/licenses/naks.pdf" target="_blank" class="what__img-wrapper">
                    <img class="what__img" alt="Описание изображения" src="/images/sro/5x@naks_thumb.png">
                </a>
                <div class="what__link-wrapper">
                    <a href="/files/sro/licenses/naks.pdf" target="_blank" class="what__link link">
                        Аттестация НАКС
                    </a>   
                </div>     
            </div>
        </div>

        <div class="xs-4 xs-center">
            <div class="what">
                <a href="/files/sro/licenses/ypk.pdf" target="_blank" class="what__img-wrapper">
                    <img class="what__img" alt="Описание изображения" src="/images/sro/5x@ypk_thumb.png">
                </a>
                <div class="what__link-wrapper">
                    <a href="/files/sro/licenses/ypk.pdf" target="_blank" class="what__link link">
                        Обучение специалистов
                    </a>   
                </div>     
            </div>
        </div>

    </div>
</div>
{# include "components/services/explanation.twig" with {"__scope":explanation_sro} #}

{# include "components/base/center.twig" with {"__scope":center} #}
{% include "components/base/footer.twig" with {"__scope":footer} %}