/// Базовые стили приложения
//@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    line-height: 20px;
    // font-family: Helvetica, -apple-system, BlinkMacSystemFont, Roboto, Open Sans, sans-serif;
    // font-family: 'Roboto', sans-serif;
    color: #1d1d1d;
}

// h1 {}

// h2 {}

// h3 {}

// h4 {}

// h5 {}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus :-webkit-autofill,
:-webkit-autofill:hover :-webkit-autofill:focus {
    -webkit-box-shadow: inset 0 0 0 1000px lightyellow;
}

::-webkit-input-placeholder {
    color: #777;
    transition: 300ms 0ms linear;
}
:-moz-placeholder {
    color: #777;
    transition: 300ms 0ms linear;
}
input[type="text"]:focus::-webkit-input-placeholder {
    color: #777;
}
input[type="text"]:focus:-moz-placeholder {
    color: #777;
}

.uk-link:hover, a:hover {
    text-decoration: none;
}

.listRomb {
    & li {
        position: relative;
        padding-left: 30px;

        &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border: 2px solid #0079c3;
            left: 0;
            transform: rotate(45deg);
            top: 3px;
        }
    }

    &_energized li::before {
        border: 2px solid #ffc500;
    }

    &_white li::before {
        border-color: #fff;
    }

    & li + li {
        margin-top: 10px;
    }
}