{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_bidding} %}
{% include "components/bidding/consultation-bor.twig" with {"__scope":consultation_bidding} %}
{% include "components/services/criterion.twig" with {"__scope":criterion_bidding} %}
{% include "components/bidding/cost-tender.twig" with {"__scope":cost_tender} %}
{% include "components/services/explanation.twig" with {"__scope":explanation_bidding} %}
{% include "components/services/feedback.twig" with {"__scope":feedback_two} %}
{% include "components/fsb-gos/info.twig" with {"__scope":info_bidding} %}
{% include "components/base/center.twig" with {"__scope":center} %}
{% include "components/base/footer.twig" with {"__scope":footer} %}
