{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_apm} %}
{% include "modules/description.twig" with {"__scope":description_apm} %}

<div class="consultation">
    <div class="row">
        <div class="col xs-10 xs-l-1">
            <div class="consultation__content">
                <div class="consultation__title">
                    В состав мероприятий по аттестации автоматизированных систем по требованиям безопасности информации входят:
                </div>
                <div class="consultation__text" style="    text-align: justify;">
                    <span>
                        <ul class="listRomb">
                            <li>
                                Обследование автоматизированных систем с целью выявления возможных каналов утечки информации  
                            </li><li>Разработка системы защиты информации с применением сертифицированных (по требованию безопасности информации) средств защиты информации.
                            </li><li>Разработка проектов организационно-распорядительной и эксплуатационной документации на объекты вычислительной техники.
                            </li><li>Установка программных (аппаратных) средств защиты информации, имеющих сертификаты соответствия ФСТЭК России.
                            </li><li>Установка средств криптографической защиты информации (в случае необходимости защиты информации) при ее обмене по вычислительным сетям общего пользования.
                            </li><li>Установка средств защиты информации, противодействующих утечке информации по каналам побочных электромагнитных излучений и наводок.
                            </li><li>Проведение испытаний автоматизированных систем, на предмет соответствия требованиям руководящих документов ФСТЭК России, по защите информации от несанкционированного доступа.
                            </li><li>Проведение испытаний автоматизированных систем, на предмет выполнения требований руководящих документов ФСТЭК России, по защите информации от утечек по каналам побочных электромагнитных излучений и наводок.
                            </li><li>Инструктирование администраторов автоматизированной системы правилам работы со средствами защиты информации и их техническому обслуживанию.
                            </li><li>Оформление отчётной аттестационной документации и «Аттестата соответствия требованиям по безопасности информации» и передача её клиенту.
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="consultation">
    <div class="row">
        <div class="col xs-10 xs-l-1">
            <div class="consultation__content">
                <div class="consultation__title">
                    Стоимость решения может изменяться в зависимости от следующих факторов:
                </div>
                <div class="consultation__text" style="    text-align: justify;">
                    <span>
                        <ul class="listRomb">
                            <li>
                                сложности системы защиты информации;
                            </li><li>срочности исполнения работ;
                            </li><li>необходимости приобретения дополнительного программного обеспечения, необходимого для выполнения лицензионных требований ФСБ России и ФСТЭК России;
                            </li><li>наличия у клиента организационно-распорядительной документации на объект информатизации.
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "components/services/feedback.twig" with {"__scope":feedback_two} %}
{% include "components/base/center.twig" with {"__scope":center} %}
{% include "components/base/footer.twig" with {"__scope":footer} %}