<div class='accreditation' style='background: url(/images/5x@akkreditaciy.jpeg); background-size: cover;'>
    <div class='accreditation__wrapper'>
        <div class='row'>
            <div class='col xs-5 xs-l-1'>
                <div class='accreditation__content'>
                    <div class='accreditation__title'>
                        {{ __scope.title }}
                    </div>
                    <div class='accreditation__text'>
                        {{ __scope.text | raw }}
                    </div>
                    <a class='accreditation__btn btn btn_md btn_energ' href='/attestation/apm'>
                        Узнать подробнее
                    </a>
                </div>
            </div>
            <div class='col xs-4 xs-l-1'>
                <div class='accreditation__content-items'>
                    {% for item in __scope.items %}
                        <div class='accreditation__items'>
                            <img class='accreditation__icon' src='{{ item.image.base }}{{ item.image.file }}'>
                            <div class='accreditation__caption'>
                                {{ item.caption }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
