<div class='amenities'>
    <div class='row'>
        <div class='col xs-8 xs-l-2'>
            <div class='amenities__container'>
                {% if __scope.title is defined %}
                <div class='amenities__title'>
                    {{ __scope.title }}
                </div>
                {% endif %}
                <div class='amenities__text'>
                    {{ __scope.text | raw }}
                </div>
            </div>
        </div>
    </div>
</div>