<div class='center'>
    <div class='row xs-center'>
        <div class='col xs-10'>
            <div class='center__container'>
                <div class='center__title' style='border: 0; padding-right: 0'>
                    {{ __scope.title }}
                </div>
                <div class='center__text'>
                    {{ __scope.text | raw }}
                </div>
                <div class='center__content'>

                    <div uk-slider style='position: relative;'>
                        <div class="uk-position-relative">

                            <div class="uk-slider-container uk-light">
                                <ul class="uk-slider-items uk-child-width-1-3@s  uk-grid">
                                    {% for item in __scope.items %}
                                    <li>
                                        {% include 'utils/image.twig' with {'__scope': item, '__class': "center__img-par"} %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>        

                            <a class="uk-position-center-left-out uk-position-small uk-hidden-hover" href="#" uk-slider-item="previous">
                                <img class='center__icon' src='/icon/arrow-l.svg' />
                            </a>
                            <a class="uk-position-center-right-out uk-position-small uk-hidden-hover" href="#" uk-slider-item="next" >
                                <img class='center__icon' src='/icon/arrow-r.svg' />
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
