<div class='certificates'>
    <div class='row'>
        <div class='col xs-5'>
            <div class='certificates__content'>
                <div class='certificates__title'>
                    {{ __scope.title }}
                </div>
                <div class='certificates__description'>
                    {{ __scope.description | raw }}
                </div>
                <div class='certificates__links'>
                    {% for item in __scope.items %}
                        <a class='certificates__link link' href='{{ item.link }}'>
                            {{ item.name }}
                        </a>
                    {% endfor %}
                </div>
                <div class='certificates__btn-wrapper'>
                    <button class='certificates__btn-sol btn-sol btn-sol_energ' data-modal='{"name": "formDefault", "id": "form"}'>
                        {{ __scope.btn_sol }}
                    </button>
                </div>
            </div>
        </div>
        <div class='col xs-7'>
            <div class='certificates__container'>
                <div class='certificates__container-wrapper'>
                    <div class='certificates__caption'>
                        {{ __scope.caption }}
                    </div>
                    <div class='certificates__text'>
                        {{ __scope.text }}
                    </div>
                    <div class='certificates__btn-wrapper'>
                        <button class='certificates__btn btn btn_md btn_energ' data-modal='{"name": "formDefault", "id": "form"}'>
                            {{ __scope.btn }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
