<div class='directions'>
    <div class='row'>
        <div class='col xs-12'>
            <div class='directions__storage'>
                <div class='directions__container directions_item'>
                    <div class='directions__title'>
                        {{ directions.title }}
                    </div>
                    <div class='directions__description'>
                        {{ directions.description }}
                    </div>
                </div>
                {% for item in __scope.items %}
                    <div class='directions__content directions_item'>
                        <img class='directions__icon' src='{{ item.image.base }}{{ item.image.file }}'>
                        <div class='directions__text'>
                            {{ item.text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>