<div class='footer'>
    <div class='footer__wrapper'>
        <div class='row'>
            <div class='row footer__menu-titles'>
                {% for title in __scope.titles %}
                    <div class='col xs-2'>
                        <span class='footer__link'>
                            <a href='{{title.link}}' class='footer__title'>
                                {{ title.name }}
                            </a>
                        </span>    
                    </div>
                {% endfor %}
            </div>
            <div class='row footer__menu-wrapper'>
                <div class='col xs-2'>
                    <div class='footer__content'>
                        {% for sro in __scope.sros %}
                            <span class='footer__link'>
                                <a class='footer__link link link_light' href='{{ sro.link }}'>
                                    {{ sro.name }}
                                </a>
                            </span>    
                        {% endfor %}
                    </div>
                </div>
                <div class='col xs-2'>
                    <div class='footer__content'>
                        {% for license in __scope.licenses %}
                            <span class='footer__link'>
                                <a class='footer__link link link_light' href='{{ license.link }}'>
                                    {{ license.name }}
                                </a>
                            </span>
                        {% endfor %}
                    </div>
                </div>
                <div class='col xs-2'>
                    <div class='footer__content'>
                        {% for training in __scope.trainings %}
                            <span class='footer__link'>
                                <a class='footer__link link link_light' href='{{ training.link }}'>
                                    {{ training.name }}
                                </a>
                            </span>    
                        {% endfor %}
                    </div>
                </div>
                <div class='col xs-2'>
                    <div class='footer__content'>
                        {% for attestation in __scope.attestations %}
                            <span class='footer__link'>
                                <a class='footer__link link link_light' href='{{ attestation.link }}'>
                                    {{ attestation.name }}
                                </a>
                            </span>
                        {% endfor %}
                    </div>
                </div>
                <div class='col xs-2'>
                    <div class='footer__content'>
                        {% for certification in __scope.certifications %}
                            <span class='footer__link'>
                                <a class='footer__link link link_light' href='{{ certification.link }}'>
                                    {{ certification.name }}
                                </a>
                            </span>
                        {% endfor %}
                    </div>
                </div>
                <div class='col xs-2'>
                    <div class='footer__content'>
                        {% for tender in __scope.tenders %}
                            <span class='footer__link'>
                                <a class='link link_light' href='{{ tender.link }}'>
                                    {{ tender.name }}
                                </a>
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='row footer__row-wrapper'>
                <div class='col xs-6 xs-start'>
                    <div class='footer__container-logo'>
                        <img class='footer__logo' src='/icon/footer-logo.svg'>
                        <div class='footer__law'>
                            Все права защищены. 2018г.
                        </div>
                        <a class='footer__kvott' target='_blank' href='https://kvott.ru'>
                            Сайт разработан студией Квотт.
                        </a>
                    </div>
                </div>
                <div class='col xs-6 xs-between'>
                    <div class='footer__info'>
                        <div class='footer__info-title'>
                            <div class='footer__info-icon-wrapper'>
                                <img class='footer__icon' src='/icon/phone.svg'>
                            </div>
                            <div class='footer__info-caption'>
                                {{ __super.phone.code }} {{ __super.phone.number }}
                            </div>
                        </div>
                        <div class='footer__info-text'>
                            <div class='footer__info-icon-wrapper footer__info-icon-wrapper_marker'>
                                <img class='footer__icon footer__icon_marker' src='/icon/marker.svg'>
                            </div>
                            <div class='footer__text'>
                                {{ __super.address }}
                            </div>
                        </div>
                    </div>
                    <div class='footer__info'>
                        <div class='footer__info-title'>
                            <div class='footer__info-icon-wrapper'>
                                <img class='footer__icon footer__icon_mail' src='/icon/envelope.svg'>
                            </div>
                            <div class='footer__info-caption'>
                                {{ __scope.mail_title }}
                            </div>
                        </div>
                        <div class='footer__info-text footer__info-text_not-icon'>
                            {{ __super.mail }}
                        </div>
                    </div>
                    <div class='footer__info'>
                        <div class='footer__info-title'>
                            <div class='footer__info-icon-wrapper'>
                                <img class='footer__icon' src='/icon/clock.svg'>
                            </div>
                            <div class='footer__info-caption'>
                                {{ __super.time.title }}
                            </div>
                        </div>
                        <div class='footer__info-text footer__info-text_not-icon'>
                            {{ __super.time.text | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
