<div class='header'>
    <div class='header__content row'>
        <div class='col xs-6 header__col'>
            <div class='header__logo-wrapper'>
                <a href='/' class='logo-link'>
                    <img class='header__logo' src='/icon/header-logo.svg'>
                </a>
            </div>
        </div>
        <div class='col xs-6 header__col'>
            <div class='header__container'>
                <div class='header__contacts'>
                    <span class='header__phone'>
                        <span class='header__phone-code'>
                            {{ __super.phone.code }}
                        </span>
                        <span class='header__phone-number'>
                            {{ __super.phone.number }}
                        </span>
                    </span>
                    <span class='header__mail link'>
                        {{ __super.mail }}
                    </span>
                </div>
                <button class='header__btn btn-sol btn-sol_energ'
                        data-modal='{"name": "formDefault", "id": "form"}'>
                    {{ __scope.btn }}
                </button>
                <!--div class='header__drop-down-menu'>
                    {% include "modules/burger-button.twig" %}
                </div-->
            </div>
        </div>
    </div>
    <div class='header__menu row'>
        <div class='col xs-12 header__col'>
            {% include 'modules/menu.twig' with {"__scope": __super.servicesMenu} %}
        </div>
    </div>
</div>
