<div class='licensing'>
    <div class='row'>
        <div class='col xs-10 xs-l-1'>
            <div class='licensing__container'>
                <div class=''row>
                    <div class='licensing__title'>
                        {{ licensing.title }}
                    </div>
                </div>
                <div class='row'>
                    <div class='licensing__wrapper'>
                        {% include 'utils/image.twig' with {'__scope': licensing.image, '__class': "licensing__img"} %}
                        <div class='licensing__content'>
                            <div class='licensing__content-wrapper'>
                                <div class='licensing__caption'>
                                    {{ licensing.caption }}
                                </div>
                                <div class='licensing__text'>
                                    {{ licensing.text | raw }}
                                </div>
                                <a class='licensing__btn btn btn_md btn_energ' href='/licenses/fsb_crypt'>
                                    Узнать подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='licensing__links'>
                        {% for item in __scope.items %}
                            <a class='licensing__link link' href='{{ item.link }}'>
                                {{ item.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>