<div class='news'>
    <div class='row'>
        <div class='col xs-4'>
            <div class='news__wrapper'>
                <div class='news__img-wrapper'>
                    {% include 'utils/image.twig' with {'__scope': __scope.image, '__class': "news__img"} %}
                    <div class='news__img-overlay'>
                        <div class='news__img-sign'>
                            {{ __scope.sign }}
                        </div>
                    </div>
                </div>
                <div class='news__content'>
                    <div class='news__caption'>
                        {{ __scope.caption }}
                    </div>
                    <div class='news__text'>
                        {{ __scope.text }}
                    </div>
                    <div class='news__date'>
                        {{ __scope.date }}
                    </div>
                </div>
                <div class='news__btn-wrapper'>
                    <button class='news__btn btn btn_md btn_energ'>
                        {{ __scope.btn }}
                    </button>
                </div>
            </div>
        </div>
        <div class='col xs-7 xs-l-1'>
            <div class='wrapper'>
                <div class='news__wrapper-title'>
                    <div class='news__title'>
                        {{ __scope.title }}
                    </div>
                    <button class='news__btn-sol btn-sol btn-sol_energ'>
                        {{ __scope.btn_sol }}
                    </button>
                </div>
                <div class='news__container'>
                    {% for item in __scope.items %}
                        <div class='news__content-item'>
                            <div class='news__caption'>
                                {{ item.caption }}
                            </div>
                            <div class='news__text-item'>
                                    {{ item.text }}
                            </div>
                            <div class='news__content-wrapper'>
                                <div class='news__label'>
                                    {{ item.label }}
                                </div>
                                <div class='news__date'>
                                    {{ item.date }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
