<div class='services'>
    <div class='row'>
        <div class='col xs-12'>
            <div class='services__container-wrapper'>
                <div class='row'>
                    {% for item in __scope.items %}
                        <div class='col xs-4'>
                            <div class='services__container'>
                                <img class='services__icon' src='{{ item.image.base }}{{ item.image.file }}'>
                                <div class='services__content'>
                                    <div class='services__caption'>
                                        {{ item.caption }}
                                    </div>
                                    <div class='services__text'>
                                            {{ item.text }}
                                    </div>
                                    <a class='services__link link ' href='{{ item.link.link }}'>
                                        {{ item.link.name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
