<div class='slider'>
    <div class='row' style='height: 100%;'>
    <div class='col xs-12' style='height: 100%;'>
<div class='uk-position-relative uk-visible-toggle' uk-slideshow='animation: slide; autoplay: true' style='width: 100%;'>
    <style>
    .uk-slideshow-items {
        min-height: 100% !important;
    }
    </style>
    <ul class="uk-slideshow-items">
        {% for item in __scope.items %}
        <li>
            <div class='row'>
                <div class='col xs-7 xs-l-1 slider__col'>
                    <div class='slider__content'>
                        <div class='slider__title'>
                            {{ item.title | raw }}
                        </div>
                        <div class='slider__description'>
                            {{ item.description }}
                        </div>
                        <div class='slider__criterions'>
                            <div class='slider__cost'>
                                {{ item.cost | raw }}
                            </div>
                            <div class='slider__period'>
                                {{ item.period | raw }}
                            </div>
                        </div>
                        <div class='slider__buttons'>
                            <button data-modal='{"name": "formDefault", "id": "form"}' class='slider__btn btn btn_energ btn_md btn_shadow'>
                                {{ item.btn.text }}
                            </button>
                            <a href='{{ item.btn_solid.link }}' class='slider__btn-solid btn-sol btn-sol_md btn-sol_light btn-sol_shadow'>
                                {{ item.btn_solid.text }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class='col xs-3 slider__col'>
                    {% include 'utils/image.twig' with {'__scope': item.image, '__class': "slider__img"} %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
    
    
    <div class="slider__dotnav uk-position-bottom-center uk-position-small">
        <ul class='uk-dotnav'>
            {% for item in __scope.items %}
                <li uk-slideshow-item="{{ loop.index - 1 }}" class="uk-active"><a href="#">...</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

</div>
</div>
</div>
