<div class='sro'>
    <div class='row'>
        <div class='col xs-12 xs-center'>
            <div class='sro__main-title'>
                {{ sro.title }}
            </div>
        </div>
    </div>
    <div class='row'>
        {% for item in __scope.items %}
            <div class='col xs-4'>
                <div class='sro__container'>
                    <img class='sro__icon' src='{{ item.image.base }}{{ item.image.file }}'>
                    <div class='sro__content'>
                        <div class='sro__title'>
                            {{ item.title }}
                        </div>
                        <div class='sro__caption'>
                            {{ item.caption_t }}
                        </div>
                        <div class='sro__description'>
                            {{ item.description_t }}
                        </div>
                        <div class='sro__caption'>
                            {{ item.caption_b }}
                        </div>
                        <div class='sro__description'>
                            {{ item.description_b }}
                        </div>
                        <a class='sro__btn btn btn_energ' {{ item.btn.action }}>
                            {{ item.btn.text }}
                        </a>
                    </div>
                </div>
            </div>
         {% endfor %}
    </div>
</div>