<div class='tender'>
    <div class='row'>
        <div class='col xs-8'>
            {% set back_img = '' %}

            {% if __scope.back_img is defined %}
                {% set back_img = 'background: url(' ~ __scope.back_img.base ~ __scope.back_img.file ~ '); background-position: top;' %}
            {% endif %}
            <div class='tender__container' style="{{ back_img }}">
                <div class='tender__container-wrapper'>
                    <div class='tender__title'>
                        {{ __scope.title }}
                    </div>
                    <div class='tender__links'>
                        {% for link in __scope.links %}
                            <a class='tender__link link link_light' href='{{ link.link }}'>
                                {{ link.name }}
                            </a>
                        {% endfor %}
                    </div>
                    <div class='tender__text'>
                        {{ __scope.text }}
                    </div>
                    <a class='tender__btn btn btn_md btn_energ' href='/tendersupport/bidding'>
                        Узнать подробнее
                    </a>
                </div>
            </div>
        </div>
        <div class='col xs-4'> 
            <div class='tender__content'>
                <div class='tender__caption'>
                    {{ __scope.caption }}
                </div>
                <div class='tender__images'>
                    {% for item in __scope.items %}
                        {% include 'utils/image.twig' with {'__scope': item, '__class': "tender__img"} %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
