<div class='training'>
    <div class='training__wrapper'>
        <div class='row'>
            <div class='col xs-4 xs-l-1'>
                    <div class='training__container'>
                    <div class='training__title'>
                        {{ training.title }}
                    </div>
                    {% for item in __scope.items %}
                        <div class='training__content'>
                            <img class='training__icon' src='{{ item.image.base }}{{ item.image.file }}'>
                            <div class='training__text'>
                                {{ item.text }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class='training__btn-wrapper'>
                        <a class='training__btn btn btn_md btn_energ' {{ __scope.btn.action }}>
                            {{ __scope.btn.text }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>