{% if __scope.items|length == 4 %}
    {% set many_cols = 'criterion_four' %}
{% endif %}

<div class='criterion {{ many_cols }}'>
    <div class='row'>
        <div class='col xs-12'>
            <div class='criterion__wrapper'>
                <div class='criterion__wrapper-one'>
                <div class='criterion__wrapper-two'>
                {% for item in __scope.items %}
                    <div class='criterion__container'>
                        <div class='criterion__icon-wrapper'>
                            <img class='criterion__icon' src='{{ item.image.base }}{{ item.image.file }}'>
                        </div>
                        <div class='criterion__content'>
                            <div class='criterion__title'>
                                {{ item.title }}
                            </div>
                            <div class='criterion__text'>
                                {{ item.text }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>