{% if __scope.items|length == 4 %}
    {% set many_cols = 'criterion_four' %}
{% endif %}

<div class='criterion {{ many_cols }}'>
    <div class='row'>
        <div class='col xs-10 xs-center xs-l-1'>
            <div class='reasons__title'>
                {{ __scope.title }}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col xs-12'>
            <div class='criterion__wrapper'>
                <div class='criterion__wrapper-one'>
                <div class='criterion__wrapper-two'>
                {% for item in __scope.items %}
                    <div class='criterion__container'>
                        <div class='criterion__icon-wrapper'>
                            <div class='criterion__icon-numeric'>{{ item.icon }}</div>
                        </div>
                        <div class='criterion__content'>
                            {% if item.title is defined %}
                            <div class='criterion__title'>
                                {{ item.title }}
                            </div>
                            {% endif %}
                            <div class='criterion__text'>
                                {{ item.text }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>