<div class='reasons'>
    <div class='row'>
        <div class='col xs-10 xs-center xs-l-1'>
            <div class='reasons__title'>
                {{ __scope.title }}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col xs-10 xs-center xs-l-1'>
            <div class='reasons__description'>
                {{ __scope.description }}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col xs-10 xs-l-1 xs-r-1'>
            <div class='reasons__text'>
                {{ __scope.text | raw }}
            </div>
        </div>
    </div>
</div>