<div class='feedback'>
    <div class='feedback__wrapper'>
        <form class='row form'>
            <div class='col xs-4'>
                <div class='feedback__title'>
                    {{ __scope.title }}
                </div>
            </div>
            <div class='col xs-4 xs-start'>
                <div class='feedback__form'>
                    <div class="feedback__input-wrapper">
                        <input class="feedback__input form__input form__input_ phoneMask formPhone" type="text" name="Phone" placeholder="+7 (___) ___-__-__" required>
                        <input style="display: none" class="form__input formClient" type="text" value='Без имени' name="Name" placeholder="Ваше имя (*)" >
                        <input style="display: none" class="form__input formEmail" type="text" value="Без почты" name="Email" placeholder="Ваша почта (*)">
                        <input class="formName" style="display: none" value="Заявка на перезвон" name="formName" disabled>
                        <input class="formName" style="display: none" value="line" name="formStyle" disabled>
                    </div>
                </div>
            </div>
            <div class='col xs-4 xs-center'>
                <button class='feedback__btn btn btn_md btn_energ form__btn'>
                    {{ __scope.btn }}
                </button>
            </div>
            <div class='col xs-12 xs-center form__alert'>
                Заполните все поля
            </div>
        </form>
    </div>
</div>
<div class='row'>
    <div class='col xs-12 xs-center'>
        <div class='feedback__description'>
            {{ __scope.description }}
        </div>
    </div>
</div>
