<div class='help'>
    <div class='row'>
        <div class='col xs-7'>
            <div class='help__content'>
                <div class='help__title'>
                    {{ __scope.title }}
                </div>
                <div class='help__text'>
                    {{ __scope.text }}
                </div>
                <div class='help__criterion'>
                    <div class='help__cost'>
                        {{ __scope.criterion.cost | raw }}
                    </div>
                    <div class='help__time'>
                        {{ __scope.criterion.time | raw }}
                    </div>
                </div>
                <div class='help__caption'>
                    {{ __scope.caption }}
                </div>
                {% for item in __scope.items %}
                    <div class='help__item'>
                        {{ item.name }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class='col xs-5 xs-center'>
            <div class='help__form-wrapper'>
                <div class='help__title-form'>
                    {{ __scope.title_form }}
                </div>
                <div class='help__form'>
                    {% include "modules/form.twig" %}
                </div>
                <!--div class='help__btn-wrapper'>
                    <button class='help__btn btn btn_md btn_shadow btn_energ'>
                        {{ __scope.btn }}
                    </button>
                </div-->
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col xs-5 xs-l-7 xs-center'>
            <div class='help__description-form'>
                {{ __scope.description_form }}
            </div>
        </div>
    </div>
</div>
