<div class='licenses'>
    <div class='row'>
        <div class='col xs-6'>
            <div class='licenses__title'>
                {{ __scope.title }}
            </div>
        </div>
    </div>
    {% for item in __scope.items %}
        <div class='row licenses__row'>
            <div class='licenses__container'>
                <div class='licenses__container-wrapper'>
                    <div class='row'>
                        <div class='col xs-6 licenses__col'>
                            <div class='licenses__content'>
                                <div class='licenses__caption'>
                                    {{ item.caption }}
                                </div>
                                <div class='licenses__text'>
                                    {{ item.text }}
                                </div>
                                <div class='licenses__btn-wrapper'>
                                    <a href='{{ item.link }}' class='licenses__btn btn btn_md btn_energ'>
                                        Узнать подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class='col xs-6 licenses__col'>
                            {% include 'utils/image.twig' with {'__scope': item.image, '__class': "licenses__img"} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
