{% if __scope.image_offer_hidden == 'visible' %}
    {% set img_visible = 'offer_owerflow' %}
{% endif %}
<div class='offer {{ img_visible }}'>
    <div class='offer__wrapper'>
        <div class='row'>
            <div class='col xs-6' style='z-index: 2;'>
                <div class='offer__content'>
                    <h1 class='offer__title'>
                        {{ __scope.title | raw }}
                    </h1>
                    {% if __scope.text != undefined %}
                        <div class='offer__text'>
                            {{ __scope.text | raw }}
                        </div>
                    {% endif %}
                    {% if __scope.cost != undefined and __scope.period != undefined %}
                        <div class='offer__criterions'>
                            <div class='offer__cost'>
                                {{ __scope.cost | raw }}
                            </div>
                            <div class='offer__period'>
                                {{ __scope.period | raw }}
                            </div>
                        </div>
                    {% endif %}
                    {% if __scope.sale != undefined %}
                        <div class='offer__sale'>
                            {{ __scope.sale | raw }}
                        </div>
                    {% endif %}
                    <div class='offer__btn-wrapper'>
                        <button class='offer__btn btn btn_md btn_energ'
                                data-modal='{"name": "formDefault", "id": "form"}'>
                            {{ __scope.btn }}
                        </button>
                    </div>
                </div>
            </div>
        

            {% if __scope.noimage is defined %}

            {% else %}
            
            <div class='col xs-6' style='z-index: 1;'>
                {% if __scope.image_offer_hidden == 'true' %}
                    {% include 'utils/image.twig' with {'__scope': __scope.image, '__class': "offer__img offer__img_opened"} %}
                {% elseif __scope.image_offer_hidden == 'false' %}
                    {% include 'utils/image.twig' with {'__scope': __scope.image, '__class': "offer__img"} %}
                {% elseif __scope.image_offer_hidden == 'visible' %}
                    {% include 'utils/image.twig' with {'__scope': __scope.image, '__class': "offer__img offer__img_visible"} %}
                {% elseif __scope.image_offer_hidden == 'normal' %}
                    {% include 'utils/image.twig' with {'__scope': __scope.image, '__class': "offer__img offer__img_normal"} %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
