<div class='consultation'>
    <div class='row'>
        <div class='col xs-5'>
            <div class='consultation__content'>
                <div class='consultation__title'>
                    {{ __scope.title }}
                </div>
            </div>    
        </div>
    </div>

    <div class='row'>
        <div class='col cs-6 consultation__text'>
            {{ __scope.text_1 | raw }}
        </div>
        <div class='col cs-6 consultation__text'>
            {{ __scope.text_2 | raw }}
        </div>
    </div>
</div>
