<div class='cost-fsb-crpt'>
        <div class='row'>
            <div class='col xs-10 xs-l-1 xs-r-1 xs-center'>
                <div class='cost-fsb-crpt__container'>
                    <div class='cost-fsb-crpt__title'>
                        {{ __scope.title }}
                    </div>
                    <div class='cost-fsb-crpt__table'>
                        <div class='cost-fsb-crpt__caption'>
                            <div class='cost-fsb-crpt__caption-name'>
                                {{ __scope.captions.name }}
                            </div>
                            <div class='cost-fsb-crpt__caption-term'>
                                {{ __scope.captions.term }}
                            </div>
                            <div class='cost-fsb-crpt__caption-cost'>
                                {{ __scope.captions.cost }}
                            </div>
                        </div>
                        {% for item in __scope.items %}
                            <div class='cost-fsb-crpt__text'>
                                <div class='cost-fsb-crpt__text-name'>
                                    {{ item.name }}
                                </div>
                                <div class='cost-fsb-crpt__text-term'>
                                    {{ item.term }}
                                </div>
                                <div class='cost-fsb-crpt__text-cost'>
                                    {{ item.cost }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class='cost-fsb-crpt__btn-wrapper'>
                        <button class='cost-fsb-crpt__btn btn btn_md btn_energ'
                                data-modal='{"name": "formDefault", "id": "form"}'>
                            {{ __scope.btn }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    