{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer} %}
{% include "components/services/help.twig" with {"__scope":help} %}
{% include "components/services/criterion.twig" with {"__scope":criterion} %}
{% include "components/services/licenses.twig" with {"__scope":licenses_list} %}
{% include "components/services/explanation.twig" with {"__scope":explanation} %}
{% include "components/services/feedback.twig" with {"__scope":feedback} %}
{% include "components/base/center.twig" with {"__scope":center} %}
{% include "components/base/footer.twig" with {"__scope":footer} %}
