<form action="" class="form">
    <div class="form__row form__row_alert">
        <div class="form__alert">
            Заполните все поля
        </div>
    </div>
    <div stylw='display: none;' class='form__row interctive_block'></div>
    <div class="form__row">
        <input class="form__input formClient" type="text" name="Name" placeholder="Ваше имя (*)" required>
    </div>
    <div class="form__row">
        <input class="form__input formEmail" type="text" name="Email" placeholder="Ваша почта (*)" required>
    </div>
    <div class="form__row">
        <input class="form__input phoneMask formPhone" type="text" name="Phone" placeholder="+7 (___)___-__-__">
    </div>
    <div class="form__row">
        <button class="form__btn btn btn_md btn_energ">
            Отправить заявку
        </button>
    </div>
    <input class="formName" style="display: none" value="Форма с сайта" name="formName" disabled>
</form>
