<div>
    <div class='row xs-center'>
        <div class='xs-12 xs-center'>
            <div class='reasons__title'>
                Что вы получаете в результате нашей работы
            </div>
        </div>
    </div>

    <div class='row xs-center'>
        <div class='xs-4 xs-center'>
            <div class='what'>
                <a href='/files/radiation/ez.pdf' target='_blank' class='what__img-wrapper'>
                    {% include 'utils/image.twig' with {'__scope': {
                        "base": "/images/radiation/",
                        "file": "ez.jpeg",
                        "alt": "Описание изображения"
                    }, '__class': "what__img"} %}
                </a>
                <div class='what__link-wrapper'>
                    <a href='/files/radiation/ez.pdf' target='_blank' class='what__link link'>
                        Экспертное заключение
                    </a>   
                </div>     
            </div>
        </div>

        <div class='xs-4 xs-center'>
            <div class='what'>
                <a href='/files/radiation/sez.pdf' target='_blank' class='what__img-wrapper'>
                    {% include 'utils/image.twig' with {'__scope': {
                        "base": "/images/radiation/",
                        "file": "sez.jpeg",
                        "alt": "Описание изображения"
                    }, '__class': "what__img"} %}
                </a>
                <div class='what__link-wrapper'>
                    <a href='/files/radiation/sez.pdf' target='_blank' class='what__link link'>
                        СЭЗ
                    </a>   
                </div>     
            </div>
        </div>

        <div class='xs-4 xs-center'>
            <div class='what'>
                <a href='/files/radiation/license.pdf' target='_blank' class='what__img-wrapper'>
                    {% include 'utils/image.twig' with {'__scope': {
                        "base": "/images/radiation/",
                        "file": "license.jpeg",
                        "alt": "Описание изображения"
                    }, '__class': "what__img"} %}
                </a>
                <div class='what__link-wrapper'>
                    <a href='/files/radiation/license.pdf' target='_blank' class='what__link link'>
                        Лицензия
                    </a>   
                </div>     
            </div>
        </div>
    </div>
</div>