<div class='tender'>
    <div class='row'>
        <div class='col xs-12'>
            <div class='tender__container' style='background-image: url(../images/5x@law.jpeg);background-size: cover; background-position: center;'>
                <div class='tender__container-wrapper' style='padding: 100px;'>
                    <div class='tender__title'>
                        Законодательная база
                    </div>
                    <div class='tender__links'>
                        <ul>
                            <li style='font-size: 18px; line-height: 26px;'>
                                <a class='tender__link link link_light' target='_blank' href='/files/Постановление №278 от 02.04.2012 г..pdf'>
                                    Постановление от 2 апреля 2012 г. №278 «О лицензировании деятельности в области использования источников ионизирующего излучения (генерирующих) (за исключением случая, если эти источники используются в медицинской деятельности)»
                                </a>
                            </li>
                            <li style='margin-top: 20px; font-size: 18px; line-height: 26px;'>
                                <a class='tender__link link link_light' target='_blank' href='/files/№3-ФЗ от 09.01.1996 г.pdf'>
                                    Федеральный закон от 09.01.1996 г.  №3-ФЗ «О радиационной безопасности населения» (редакция от 19.07.2011 г.)
                                </a>
                            </li>
                            <li style='margin-top: 20px; font-size: 18px; line-height: 26px;'>
                                <a class='tender__link link link_light' target='_blank' href='/files/№99-fz.pdf'>
                                    Федеральный закон от 04.05.2011 г. №99-ФЗ «О лицензировании отдельных видов деятельности»
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
