.btn-sol {
    padding: 10px 20px;
    text-transform: uppercase;
    border: 2px solid $positive;
    @include caption(lg, $black, upp);
    transition: 300ms 0ms linear;

    &:hover {
        background: rgba(46, 154, 226, 0.2);
        border: 2px solid $positive_light;
    }

    &:active {
        background: rgba(0, 79, 133, 0.1);
        border: 2px solid $positive_dark;
    }

    &:focus {
        box-shadow: 0px 0px 6px rgba(18, 121, 190, 0.6), inset 0px 0px 6px rgba(18, 121, 190, 0.6);
    }

    &:disabled {
        border: 2px solid $gray_light;
        color: $gray_light;
    }

    &_shadow {
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2), inset 2px 2px 6px rgba(0, 0, 0, 0.2);
    }

    &_md {
        padding: 18px 20px;
    }

    &_sm-text {
        @include caption(sm, $black, upp);
    }

    &_energ {
        border: 2px solid $energized;

        &:hover {
            background: rgba(255, 221, 40, 0.2);
            border: 2px solid $energized_light;
        }
    
        &:active {
            background: rgba(232, 167, 0, 0.1);
            border: 2px solid $energized_dark;
        }
    
        &:focus {
            box-shadow: 0px 0px 6px rgba(255, 198, 0, 0.6), inset 0px 0px 6px rgba(255, 198, 0, 0.6);
        }
    }

    &_dark {
        border: 2px solid $black;

        &:hover {
            background: rgba(223, 223, 223, 0.5);
        }
    
        &:active {
            background: rgba(107, 107, 107, 0.4);
        }
    
        &:focus {
            box-shadow: 0px 0px 6px rgba(26, 26, 26, 0.6), inset 0px 0px 6px rgba(26, 26, 26, 0.6);
        }
    }

    &_light {
        border: 2px solid $white;
        @include caption(lg, $white, upp);

        &:hover {
            background: rgba(255, 255, 255, 0.2);
            color: #fff;
        }
    
        &:active {
            background: rgba(255, 255, 255, 0.6);
        }
    
        &:focus {
            box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6), inset 0px 0px 6px rgba(255, 255, 255, 0.6);
        }
    }
}
