.btn {
    padding: 10px 20px;
    text-transform: uppercase;
    background: $positive;
    @include caption(lg, $white, upp);
    transition: 300ms 0ms linear;

    &:hover {
        background: $positive_light;
    }

    &:active {
        background: $positive_dark;
    }

    &:focus {
        box-shadow: 0 0 6px $positive;
    }

    &:disabled {
        background: $gray_light;
        color: $white;
    }

    &_shadow {
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    &_md {
        padding: 20px;
    }

    &_energ {
        background: $energized;
        @include caption(lg, $black, upp);

        &:hover {
            background: $energized_light;
        }
    
        &:active {
            background: $energized_dark;
        }
    
        &:focus {
            box-shadow: 0 0 6px $energized_dark;
        }
    }

    &_dark {
        background: $black;

        &:hover {
            background: $gray_dark;
        }
    
        &:active {
            background: $gray_light;
        }
    
        &:focus {
            box-shadow: 0 0 6px $black;
        }
    }

    &_light {
        background: $white;
        @include caption(sm, $positive, upp);

        &:hover {
            background: $gray_light;
        }
    
        &:active {
            background: $positive_light;
            @include caption(sm, $white, upp);
        }
    
        &:focus {
            box-shadow: 0 0 6px $white;
        }
    }
}
