.btn-icon {
    line-height: $size;
    border: 2px solid $positive;
    padding: 8px;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;

    &__icon {
        position: relative;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
    }

    &__icon-line,
    &__icon::before,
    &__icon::after {
        content: "";
        position: absolute;
        background: $positive;
        width: 100%;
        height: 4px;
    }

    &__icon::before {
        top: 0;
    }

    &__icon::after {
        bottom: 0;
    }

    &__caption {
        font-weight: 300;
        margin-left: $size_s;
        @include caption(sm, $black, upp);
    }
}