.burger-button {
    &__menu {
        position: absolute;
        top: 100%;
        right: -2px;
        background: #fff;
        opacity: 0;
        visibility: hidden;    
    }

    &_opened &__menu {
        opacity: 1;
        visibility: visible;
    }
}
