// С событием visited нужно разобраться, оно не работает корректно

.link {
    color: $positive;
    border-bottom: 1px dashed $positive;
    cursor: pointer;
}

    a.link:hover {
        border-bottom: 1px dashed transparent;
    }

    a.link:active {
        color: $positive_dark;
        border-bottom: 1px dashed $positive_dark;
    }

    // &:visited {
    //     color: $positive_dark;
    //     border-bottom: 1px solid $positive_dark;
    // }

    a.link:focus {
        text-shadow: 1px 1px 3px $positive;
    }

    .link_not-bor {
        border-bottom: none;
    }

    .link_energ {
        color: $energized;
        border-bottom: 1px dashed $energized;
    }

        a.link:hover {
            border-bottom: none;
        }
    
        a.link:active {
            color: $energized_dark;
            border-bottom: 1px dashed $energized_dark;
        }
    
        // &:visited {
        //     color: $energized_dark;
        //     border-bottom: 1px solid $energized_dark;
        // }
    
        a.link:focus {
            text-shadow: 1px 1px 3px $energized;
        }

    .link_dark {
        color: $black;
        border-bottom: 1px dashed $black;
    }

        a.link:hover {
            color: $gray_dark;
            border-bottom: none;
        }
    
        a.link:active {
            color: $gray_dark;
            border-bottom: 1px dashed $gray_dark;
        }
    
        // &:visited {
        //     color: $gray_dark;
        //     border-bottom: 1px solid $gray_dark;
        // }
    
        a.link:focus {
            text-shadow: 1px 1px 3px $black;
        }

    .link_light {
        color: $white;
        border-bottom: 1px dashed $white;
    }

        a.link.link_light:hover {
            border-bottom: none;
            color: $white;
            border-bottom: 1px solid #fff;
        }
    
        a.link.link_light:active {
            color: #fff;
            border-bottom: 1px solid $gray_light;
        }
    
        // &:visited {
        //     color: $gray_light;
        //     border-bottom: 1px solid $gray_light;
        // }
    
        a.link:focus {
            text-shadow: 1px 1px 3px $white;
        }
