{% include "components/base/header.twig" with {"__scope":header} %}
{% include "components/services/offer.twig" with {"__scope":offer_zp} %}
{% include "modules/description.twig" with {"__scope":description_zp} %}

<div class="consultation">
    <div class="row">
        <div class="col xs-10 xs-l-1">
            <div class="consultation__content">
                <div class="consultation__title">
                    В состав мероприятий по аттестации требованиям по безопасности информации защищаемых помещений входят:
                </div>
                <div class="consultation__text" style="    text-align: justify;">
                    <span>
                        <ul class="listRomb">
                            <li>
                                Определение наиболее подходящего для проведения аттестационных испытаний помещения и подбор необходимых сертифицированных (по требованиям безопасности информации) средств защиты информации.
                            </li><li>Разработка проектов организационно-распорядительных документов.
                            </li><li>Рекомендации по исключению неиспользуемых технических средств из помещения, или технических средств, создающих предпосылки к нарушению информационной безопасности.
                            </li><li>Установка и настройка сертифицированных (по требованиям безопасности) систем защиты от утечки по акустическому и виброакустическому   каналу.
                            </li><li>Испытания ограждающих конструкций и инженерных коммуникаций, помещения, на соответствие требованиям руководящих документов ФСТЭК России, по защите информации от утечек, по акустическому и виброакустическому   каналу, с применением контрольно-измерительного оборудования.
                            </li><li>Испытания технических средств в помещении, на соответствие требованиям руководящих документов ФСТЭК России по защите информации, от утечек по каналу электроакустических преобразований с применением контрольно-измерительного оборудования.
                            </li><li>Инструктирование ответственных лиц правилам работы с системами защиты информации и их техническому обслуживанию.
                            </li><li>Оформление отчётной аттестационной документации и «Аттестата соответствия требованиям по безопасности информации» и передача её клиенту.
                            </li>
                        </ul>
                    </span>
                    <span style='font-style: italic; margin-top: 50px;'>
                        Примечание: Исходя из множества возможных конфигураций помещений, данное решение применяется для помещений площадью не более 20 кв.м., имеющих не более одной двери и батареи отопления, одного трехстворчатого окна, а также граничащих с помещениями организации, либо с помещениями партнёрских  компаний.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="consultation">
    <div class="row">
        <div class="col xs-10 xs-l-1">
            <div class="consultation__content">
                <div class="consultation__title">
                    Стоимость решения может изменяться в зависимости от следующих факторов:
                </div>
                <div class="consultation__text" style="    text-align: justify;">
                    <span>
                        <ul class="listRomb">
                            <li>
                                сложности системы защиты информации;
                            </li><li>срочности исполнения работ;
                            </li><li>количества технических средств, установленных в помещении, имеющих подключения к коммуникациям, выходящим за пределы помещения;
                            </li><li>количества инженерных конструкций, элементы которых проходят в помещении;
                            </li><li>наличия у клиента организационно-распорядительной документации на объект информатизации.
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "components/services/feedback.twig" with {"__scope":feedback_two} %}
{% include "components/base/center.twig" with {"__scope":center} %}
{% include "components/base/footer.twig" with {"__scope":footer} %}