<div class='cost-sro'>
    <div class='row'>
        <div class='col xs-10 xs-l-1 xs-r-1 xs-center'>
            <div class='cost-sro__container'>
                <div class='cost-sro__title'>
                    {{ __scope.title }}
                </div>
                <div class='cost-sro__description'>
                    {{ __scope.reminder | raw }}
                </div>
                <div class='cost-sro__table'>
                    <div class='cost-sro__caption'>
                        <div class='cost-sro__caption-col'>
                            {{ __scope.captions.name_1 }}
                        </div>
                        <div class='cost-sro__caption-col'>
                            {{ __scope.captions.name_2 }}
                        </div>
                        <div class='cost-sro__caption-col'>
                            {{ __scope.captions.name_3 }}
                        </div>
                        <div class='cost-sro__caption-col'>
                            {{ __scope.captions.name_4 }}
                        </div>
                    </div>
                    {% for item in __scope.items %}
                        <div class='cost-sro__text'>
                            <div class='cost-sro__text-col'>
                                {{ item.name_1 | raw }}
                            </div>
                            <div class='cost-sro__text-col'>
                                {{ item.name_2 | raw }}
                            </div>
                            <div class='cost-sro__text-col'>
                                {{ item.name_3 | raw }}
                            </div>
                            <div class='cost-sro__text-col'>
                                {{ item.name_4 | raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class='cost-sro__reminder'>
                    {{ __scope.description | raw }}
                </div>
                <div class='cost-sro__btn-wrapper'>
                    <button class='cost-sro__btn btn btn_md btn_energ'
                            data-modal='{"name": "formDefault", "id": "form"}'>
                        {{ __scope.btn }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
    