<button class='btn-icon' href='#'>
    <span class='btn-icon__icon'>
        <span class='btn-icon__icon-line'></span>
    </span>
    <span class='btn-icon__caption'>
        Меню
    </span>
</button>
