<div class='burger-button'>
    {% include "modules/btn-icon.twig" %}
    <ul class='burger-button__menu menu menu_sub'>
        <li class='menu__item'>
            <div class='menu__item-activator'>
                <a class='menu__link' href='#'>
                    Ссылка один
                </a>
                <img class='menu__link-icon' src='../icon/icon-arrow.svg'>
            </div>
            <ul class='menu menu_sub'>
                <li class='menu__item'>
                    <a class='menu__link'>Ссылка один</a>
                </li>
                <li class='menu__item'>
                    <a class='menu__link'>Ссылка два</a>
                </li>
            </ul>
        </li>
        <li class='menu__item'>
            <a class='menu__link' href='#'>Ссылка два</a>
        </li>
    </ul>
</div>
