<div class='amenities'>
    <div class='row'>
        <div class='col xs-7'>
            <div class='amenities__container'>
                {% if __scope.title is defined %}
                    <div class='amenities__title'>
                        {{ __scope.title }}
                    </div>
                {% endif %}
                <div class='amenities__text'>
                    <div class='description' style='margin: 0;'>
                        <div class='row'>
                            <div class='col xs-12'>
                                <div class='description__content'>
                                    <div class='description__text'>
                                        {{ __scope.text | raw }}
                                    </div>
                                    <div class='description__items'>
                                        {% for item in __scope.items %}
                                            <a class='description__link link' data-modal='{"name": "{{ item.modalname }}", "id": "{{ item.id }}"}'>
                                                {{ item.name }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class='col xs-5 xs-center'>
            <div class='consultation__form-wrapper'>
                <div class='consultation__title-form'>
                    {{ __scope.title_form }}
                </div>
                <div class='consultation__form'>
                    {% include "modules/form.twig" %}
                </div>
                <div class='consultation__description-form' style='width: 100%; margin-top: 40px;'>
                    {{ __scope.description_form }}
                </div>
            </div>
        </div>

    </div>
</div>