<form action="" class="form">
    <div class="form__row form__row_alert">
        <div class="form__alert">
            Заполните все поля
        </div>
    </div>
    <div class='form__title '>
        Ваше имя
    </div>
    <div class="form__row">
        <input class="form__input formClient" type="text" name="Name" placeholder="Иван Иванов">
        <input style="display: none;" class="form__input formEmail" type="text" name="Email" value="Форма без почты" required>
        <input class="formName" style="display: none" value="Форма с сайта" name="formName" disabled>
    </div>
    <div class='form__title'>
        Ваш телефон
    </div>
    <div class="form__row">
        <input class="form__input phoneMask formPhone" type="text" name="Phone" placeholder="+7 (___) ___-__-__"  required>
    </div>
    <div class="form__row">
        <button class="form__btn btn btn_md btn_shadow btn_energ">
            Получить консультацию
        </button>
    </div>
</form>
    