<ul class='menu'>
    {% for item in __scope.items %}
        {% set active_menuitem = '' %}

        {% if item.link in __system.uri %}
            {% set active_menuitem = 'menu__link_active' %}
        {% endif %}


        <li class='menu__item'>
            {% set dropdown = '' %}

            {% if item.submenu is defined %}
                {% set dropdown = 'menu__link_dropdown' %}
            {% endif %}

            <a class='menu__link {{ dropdown }} {{ active_menuitem }}' href='{{ item.link }}'>
                {{ item.name }}
            </a>
            {% if item.submenu is defined %}
                <ul class='menu menu_sub'>
                    {% for subitem in item.submenu %}
                        <li class='menu__item'>
                            {% set active_submenuitem = '' %}

                            {% if subitem.link in __system.uri %}
                                {% set active_submenuitem = 'menu__link_active' %}
                            {% endif %}
                            
                            <a class='menu__link {{ active_submenuitem }}' href='{{ subitem.link }}'>
                                {{ subitem.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
