$black: #1a1a1a;
$positive_light: #2E9AE2;
$positive: #1279BE;
$balanced: #1279be;
$positive_dark: #004F85;
$energized_light: #FFDD28;
$energized: #FFC600;
$energized_dark: #E8A700;
$white: #FFFFFF;
$gray_light: #DFDFDF;
$gray_dark: #6B6B6B;
$light: #e1e1e1;
$light-dark: #b7b7b7;