// Шрифт по умолчанию
$font_s: 14px;
$font_m: 16px;
$font_l: 18px;
$font_h: 21px;

// Минимальная величина шрифта
$font-size-min: 12px;

// Минимальныя высота линии (интерлиньяж)
$line-height_s: 21px;
$line-height: 21px;
$line-height_m: 42px; // Высота линии для заголовка
$line-height_h: 63px;
$line-height_l: 84px;


$xs-line-height: 21px;
$xs-line-height_m: 42px; // Высота линии для заголовка
$xs-line-height_h: 42px;
$xs-line-height_l: 63px;

// Заголовки по умолчанию
$title_s: 34px;
$title_m: 42px;
$title_h: 63px;

$xs-title_s: 21px;
$xs-title_m: 26px;
$xs-title_h: 34px;