
/// Базовая величина тени
$shadow-s: 3px;

/// Базовые размеры приложения, используется для построения отступов
$size: 20px;

$size_s: 10px;
$size_l: 30px;
$size_m: 40px;
$size_h: 50px;
$size_g: 70px;

$offset_s: 21px;
$offset_m: 42px;
$offset_l: 60px;
$offset_h: 80px;

/// Время анимации
$speed: 300ms;

/// Задержка анимации
$delay: 0s;

$breakpoints: (
    xs: 'max-width: 420px',
    sm: 'min-width: 421px',
    md: 'min-width: 781px',
    lg: 'min-width: 961px',
    hg: 'min-width: 1201px',
);

$max-width: 1240px;

$_base_path: '../images/';