<div class='specification-fstek'>
    <div class='row'>
        <div class='col xs-10 xs-l-1 xs-r-1 xs-center'>
            <div class='specification-fstek__container'>
                <div class='specification-fstek__title'>
                    {{ __scope.title }}
                </div>
                <div class='specification-fstek__table'>
                    <div class='specification-fstek__caption'>
                        <div class='specification-fstek__caption-name'>
                            {{ __scope.captions.name }}
                        </div>
                        <div class='specification-fstek__caption-cost'>
                            {{ __scope.captions.cost }}
                        </div>
                    </div>
                    {% for item in __scope.items %}
                        <div class='specification-fstek__text'>
                            <div class='specification-fstek__text-name'>
                                {{ item.name | raw }}
                            </div>
                            <div class='specification-fstek__text-cost'>
                                {{ item.cost | raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class='specification-fstek__btn-wrapper'>
                    <button class='specification-fstek__btn btn btn_md btn_energ'>
                        {{ __scope.btn }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
    